<section id="artist" class="artist">
  <svg class="artist__icon--line">
    <use href="./images/icons.svg#icon-line"></use>
  </svg>
  <div class="container">
    <div class="artist__slider--container">
      <ul class="artist__slider--list js-artist__slider--list">
        <li class="artist__slider--item">
          <ul class="artist__list">
            <li class="artist__item artist__color--accent">
              <div class="artist__wrapper">
                <p>Demus</p>
                <span>01</span>
              </div>
            </li>
            <li class="artist__item">
              <div class="artist__wrapper">
                <p>Ruslan</p>
                <span>02</span>
              </div>
            </li>
            <li class="artist__item">
              <div class="artist__wrapper">
                <p>David</p>
                <span>03</span>
              </div>
            </li>
          </ul>

          <div class="artist__who--wrapper">
            <h5 class="artist__name">DEMUS</h5>
            <span class="artist__span--style">Who i&#8217;m</span>
          </div>

          <div class="artist__wrapper--img">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  ./images/artist/demus_desktop_1x.jpg 1x,
                  ./images/artist/demus_desktop_2x.jpg 2x
                "
                type="image/jpg"
                width="625"
                height="900"
              />

              <source
                media="(max-width:767.99px)"
                srcset="
                  ./images/artist/demus_mobile_1x.jpg 1x,
                  ./images/artist/demus_mobile_2x.jpg 2x
                "
                type="image/jpg"
                width="303"
                height="437"
              />
              <img
                class="artist__img"
                src="./images/artist/demus_mobile_1x.jpg"
                alt="Demus photo"
                width="303"
                height="437"
              />
            </picture>
          </div>

          <div class="artist__expirience--wrapper">
            <h5 class="artist__name">8 years</h5>
            <span class="artist__span--style">Expirience</span>
          </div>

          <div class="artist__style--wrapper">
            <span class="artist__span--style artist__width">Tattoo style</span>
            <h5 class="artist__name artist__left">
              Chicano, Realism and Japanese
            </h5>
          </div>

          <h4 class="artist__title">About me</h4>
          <p class="artist__text">
            With 8 years in the tattoo industry, I have developed my style and
            I&#8217;m ready to translate your ideas into unique works of art
            that will accentuate and complement your image. Quality service is
            my top priority and my main goal is to fuck the North American
            tattoo industry, so you have a chance to get a tattoo from a future
            legend without waiting years for your turn.
          </p>
        </li>
        <li class="artist__slider--item">
          <ul class="artist__list">
            <li class="artist__item">
              <div class="artist__wrapper">
                <p>Demus</p>
                <span>01</span>
              </div>
            </li>
            <li class="artist__item">
              <div class="artist__wrapper artist__color--accent">
                <p>Ruslan</p>
                <span>02</span>
              </div>
            </li>
            <li class="artist__item">
              <div class="artist__wrapper">
                <p>David</p>
                <span>03</span>
              </div>
            </li>
          </ul>

          <div class="artist__who--wrapper">
            <h5 class="artist__name">RUSLAN</h5>
            <span class="artist__span--style">Who i&#8217;m</span>
          </div>

          <div class="artist__wrapper--img">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  ./images/artist/ruslan_desktop_1x.jpg 1x,
                  ./images/artist/ruslan_desktop_2x.jpg 2x
                "
                type="image/jpg"
                width="625"
                height="900"
              />

              <source
                media="(max-width:767.99px)"
                srcset="
                  ./images/artist/ruslan_mobile_1x.jpg 1x,
                  ./images/artist/ruslan_mobile_2x.jpg 2x
                "
                type="image/jpg"
                width="303"
                height="437"
              />
              <img
                class="artist__img"
                src="./images/artist/ruslan_mobile_1x.jpg"
                alt="Ruslan photo"
                width="303"
                height="437"
              />
            </picture>
          </div>

          <div class="artist__expirience--wrapper">
            <h5 class="artist__name">4 years</h5>
            <span class="artist__span--style">Expirience</span>
          </div>

          <div class="artist__style--wrapper">
            <span class="artist__span--style artist__width">Tattoo style</span>
            <h5 class="artist__name artist__left">Realism portraits</h5>
          </div>

          <h4 class="artist__title">About me</h4>
          <p class="artist__text">
            I&#8217;m Ruslan, a tattoo artist since 2020. I started in Ukraine
            and now work in Canada, with 4 years of experience. My focus is
            realism dotwork, using just black pigment and a specific needle
            configuration to create high-quality, textured tattoos that last.
            I&#8217;m passionate about portraits and realism, constantly honing
            my skills. I also enjoy graphic work, as that&#8217;s how I began.
            Tattooing brings me great joy, and my love for it drives me to keep
            evolving.
          </p>
        </li>
        <li class="artist__slider--item">
          <ul class="artist__list">
            <li class="artist__item">
              <div class="artist__wrapper">
                <p>Demus</p>
                <span>01</span>
              </div>
            </li>
            <li class="artist__item">
              <div class="artist__wrapper">
                <p>Ruslan</p>
                <span>02</span>
              </div>
            </li>
            <li class="artist__item artist__color--accent">
              <div class="artist__wrapper">
                <p>David</p>
                <span>03</span>
              </div>
            </li>
          </ul>

          <div class="artist__who--wrapper">
            <h5 class="artist__name">DAVID</h5>
            <span class="artist__span--style">Who i&#8217;m</span>
          </div>

          <div class="artist__wrapper--img">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  ./images/artist/david_desktop_1x.jpg 1x,
                  ./images/artist/david_desktop_2x.jpg 2x
                "
                type="image/jpg"
                width="625"
                height="900"
              />

              <source
                media="(max-width:767.99px)"
                srcset="
                  ./images/artist/david_mobile_1x.jpg 1x,
                  ./images/artist/david_mobile_2x.jpg 2x
                "
                type="image/jpg"
                width="303"
                height="437"
              />
              <img
                class="artist__img"
                src="./images/artist/david_mobile_1x.jpg"
                alt="David photo"
                width="303"
                height="437"
              />
            </picture>
          </div>

          <div class="artist__expirience--wrapper">
            <h5 class="artist__name">2 years</h5>
            <span class="artist__span--style">Expirience</span>
          </div>

          <div class="artist__style--wrapper">
            <span class="artist__span--style artist__width">Tattoo style</span>
            <h5 class="artist__name artist__left">Realism, b&g, anime</h5>
          </div>

          <h4 class="artist__title">About me</h4>
          <p class="artist__text">
            I specialize in B&G realism Freshman in the tattoo world and
            I&#8217;m already pretty damn good. At the beginning of my journey
            as a tattoo artist, I honed my tattoo creation skills by shadowing
            Korean artists. Visual art has always fascinated me, so in my free
            time, I enjoy drawing and creating graffiti. I care for each tattoo
            as if it were my own.
          </p>
        </li>
      </ul>
      <ul class="artist__list--button">
        <li>
          <button type="button" class="artist__button js-artist__button-prev">
            <svg
              height="11"
              width="13"
              class="artist__icon--arrow artist__icon--rotate"
            >
              <use href="./images/icons.svg#icon-arrow-sideward"></use>
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="artist__button js-artist__button-next">
            <svg height="11" width="13" class="artist__icon--arrow">
              <use href="./images/icons.svg#icon-arrow-sideward"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
