<section id="faq" class="faq">
  <div class="container faq__container">
    <h3 class="faq__title">Faq</h3>
    <ul class="faq__list">
      <li>
        <div class="faq__wrapper--item">
          <p class="faq__text">Do I need to know how to draw?</p>
          <span class="faq__span">
            <svg height="15" width="15" class="faq__icon">
              <use href="./images/icons.svg#icon-faq"></use></svg
          ></span>
        </div>
      </li>
      <li>
        <div class="faq__wrapper--item">
          <p class="faq__text">
            Will I receive a certificate at the end of the course ?
          </p>
          <span class="faq__span">
            <svg height="15" width="15" class="faq__icon">
              <use href="./images/icons.svg#icon-faq"></use></svg
          ></span>
        </div>
      </li>
      <li>
        <div class="faq__wrapper--item">
          <p class="faq__text">
            Do I need special equipment to participate in the course?
          </p>
          <span class="faq__span">
            <svg height="15" width="15" class="faq__icon">
              <use href="./images/icons.svg#icon-faq"></use></svg
          ></span>
        </div>
      </li>
      <li>
        <div class="faq__wrapper--item">
          <p class="faq__text">
            Can I get a refund if I change my mind after purchasing a package?
          </p>
          <span class="faq__span">
            <svg height="15" width="15" class="faq__icon">
              <use href="./images/icons.svg#icon-faq"></use></svg
          ></span>
        </div>
      </li>
    </ul>
  </div>
</section>
