<section id="faq" class="faq">
  <div class="container faq__container">
    <h3 class="faq__title">FAQ</h3>
    <ul class="faq__list">
      <li class="faq__item">
        <details class="faq__details">
          <summary class="faq__summary" data-icon="plus">
            Do I need to know how to draw?
            <span class="faq__span">
              <svg height="15" width="15" class="faq__icon">
                <use
                  class="faq__icon-plus"
                  href="./images/icons.svg#icon-faq"
                ></use>
                <use
                  class="faq__icon-minus"
                  href="./images/icons.svg#icon-minus"
                ></use>
              </svg>
            </span>
          </summary>
        </details>

        <div class="faq__answer-wrapper">
          <div class="faq__answer">
            <p class="faq__answer--main">
              No, prior drawing skills are not required.
            </p>
            <p>
              The course is designed to guide you step-by-step, starting from
              the basics. Whether you are a complete beginner or have some
              experience, the curriculum will provide all the tools and
              techniques you need to succeed.
            </p>
          </div>
        </div>
      </li>

      <li class="faq__item">
        <details class="faq__details">
          <summary class="faq__summary">
            Will I receive a certificate at the end of the course?
            <span class="faq__span">
              <svg height="15" width="15" class="faq__icon">
                <use
                  class="faq__icon-plus"
                  href="./images/icons.svg#icon-faq"
                ></use>
                <use
                  class="faq__icon-minus"
                  href="./images/icons.svg#icon-minus"
                ></use>
              </svg>
            </span>
          </summary>
        </details>

        <div class="faq__answer-wrapper">
          <div class="faq__answer">
            <p class="faq__answer--main">
              Yes, you will receive a certificate upon successfully completing
              the course.
            </p>
            <p>
              The certificate serves as proof of your training and is recognized
              as a valuable addition to your portfolio. It showcases the skills
              you have acquired and can help you pursue further opportunities in
              tattoo artistry.
            </p>
          </div>
        </div>
      </li>
      <li class="faq__item">
        <details class="faq__details">
          <summary class="faq__summary">
            Do I need special equipment to participate in the course?
            <span class="faq__span">
              <svg height="15" width="15" class="faq__icon">
                <use
                  class="faq__icon-plus"
                  href="./images/icons.svg#icon-faq"
                ></use>
                <use
                  class="faq__icon-minus"
                  href="./images/icons.svg#icon-minus"
                ></use>
              </svg>
            </span>
          </summary>
        </details>

        <div class="faq__answer-wrapper">
          <div class="faq__answer">
            <p class="faq__answer--main">
              Yes, you will receive a certificate upon successfully completing
              the course.
            </p>
            <p>
              The certificate serves as proof of your training and is recognized
              as a valuable addition to your portfolio. It showcases the skills
              you have acquired and can help you pursue further opportunities in
              tattoo artistry.
            </p>
          </div>
        </div>
      </li>
      <li class="faq__item">
        <details class="faq__details">
          <summary class="faq__summary">
            Can I get a refund if I change my mind after purchasing a package?
            <span class="faq__span">
              <svg height="15" width="15" class="faq__icon">
                <use
                  class="faq__icon-plus"
                  href="./images/icons.svg#icon-faq"
                ></use>
                <use
                  class="faq__icon-minus"
                  href="./images/icons.svg#icon-minus"
                ></use></svg
            ></span>
          </summary>
        </details>

        <div class="faq__answer-wrapper">
          <div class="faq__answer">
            <p class="faq__answer--main">
              Yes, you can request a refund if you change your mind after
              purchasing a package.
            </p>
            <p>
              Refunds are processed based on the terms and conditions outlined
              in our refund policy. Typically, requests must be made within a
              specified time frame (e.g., 14 or 30 days) after purchase. Please
              note that eligibility may depend on whether you have accessed or
              used the services included in the package. For more information or
              to initiate a refund, please contact our support team.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
