<footer class="footer">
  <div class="footer__container">
    <h2 class="footer__title">HYPE</h2>
    <div class="footer__wrapper">
      <p class="footer__label">Lets talk</p>
      <a
        class="footer__link footer__link-mail"
        href="mailto:hypetattoo@gmail.com"
      >
        hypetattoo@gmail.com
      </a>

      <p class="footer__label">Instagram</p>
      <a
        class="footer__link footer__link-social"
        href=""
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram"
        >hypetatto_toronto
      </a>

      <div class="footer__address">
        <div class="footer__address-wrapper">
          <p class="footer__label">Address</p>
          <p class="footer__text">Torronto</p>
        </div>
        <div class="footer__address-wrapper">
          <p class="footer__label">Work time</p>
          <p class="footer__text">10:00-18:00</p>
        </div>
        <div class="footer__address-wrapper">
          <p class="footer__label">Phone</p>
          <a class="footer__text" href="tel:+1380961234567"
            >+1380 96 123 45 67</a
          >
        </div>
        <div class="footer__address-wrapper">
          <p class="footer__label">Holiday</p>
          <p class="footer__text">11:00-14:00</p>
        </div>
      </div>

      <button class="footer__button" type="button" data-modal-open>
        <svg class="footer__button-icon-border">
          <use
            class="footer__button-icon-border-sm"
            href="./images/icons.svg#icon-footer-btn-border-sm"
          ></use>
          <use
            class="footer__button-icon-border-lg"
            href="./images/icons.svg#icon-footer-btn-border-lg"
          ></use>
        </svg>
        <span class="footer__button-text">JOIN THE COURSE</span>
        <span class="footer__button-span-icon">
          <svg height="10" width="8">
            <use href="./images/icons.svg#icon-arrow-sideward"></use>
          </svg>
        </span>
      </button>

      <p class="footer__copyright">(C) HYPE 2024</p>
      <p class="footer__copyright">ALL RIGHTS RESERVED</p>
    </div>
  </div>
</footer>
