<section class="gift" id="gift">
  <picture>
    <source
      media="(min-width:1440px)"
      srcset="
        ./images/gift/gift_desktop_1x.jpg 1x,
        ./images/gift/gift_desktop_2x.jpg 2x
      "
      type="image/jpg"
      width="1214"
      height="1080"
    />

    <source
      media="(max-width:767.99px)"
      srcset="
        ./images/gift/gift_mobile_1x.jpg 1x,
        ./images/gift/gift_mobile_2x.jpg 2x
      "
      type="image/jpg"
      width="375"
      height="335"
    />
    <img
      class="gift__img"
      src="./images/gift/gift_mobile_1x.jpg"
      alt="Gift box"
      width="375"
      height="335"
    />
  </picture>

  <div class="gift__container">
    <div class="gift__wrapper-list">
      <ul class="gift__list--container">
        <li class="gift__list--container__item">Gift</li>
        <li class="gift__list--container__item">Tattoo equipment box</li>
      </ul>
      <h2 class="gift__title">Everything You Need Kit</h2>
    </div>

    <ul class="gift__list">
      <li class="gift__list--item">
        <span class="gift__list--item__span">1</span>
        <p class="gift__list--item__text">Needles of various sizes</p>
      </li>
      <li class="gift__list--item">
        <span class="gift__list--item__span">2</span>
        <p class="gift__list--item__text">
          Fake skin for practicing your skills
        </p>
      </li>
      <li class="gift__list--item">
        <span class="gift__list--item__span">3</span>
        <p class="gift__list--item__text">Professional tattoo machine</p>
      </li>
      <li class="gift__list--item">
        <span class="gift__list--item__span">4</span>
        <p class="gift__list--item__text">Ink caps for easy use</p>
      </li>
      <li class="gift__list--item">
        <span class="gift__list--item__span">5</span>
        <p class="gift__list--item__text">Black and white ink</p>
      </li>
      <li class="gift__list--item">
        <span class="gift__list--item__span">6</span>
        <p class="gift__list--item__text">Vaseline for smooth application</p>
      </li>
      <li class="gift__list--item">
        <span class="gift__list--item__span">7</span>
        <p class="gift__list--item__text">
          Station cover to keep your workspace clean
        </p>
      </li>
      <li class="gift__list--item">
        <span class="gift__list--item__span">8</span>
        <p class="gift__list--item__text">Protective gloves</p>
      </li>
    </ul>
  </div>
</section>
