<header class="header header__shadow">
  <div class="container header__container">
    <a href="/">
      <svg class="header__logo" width="27" height="32">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <button
      class="header__button-menu js-menu__open"
      type="button"
      aria-expanded="false"
    >
      Menu
      <svg class="header__menu-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-spots"></use>
      </svg>
    </button>
  </div>
</header>

<!-- MOBILE MENU -->
<div class="backdrop js-backdrop">
  <div class="menu js-menu" id="menu">
    <a href="/">
      <svg class="menu__logo">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="menu__container-text">
      <p class="menu__text">[ Menu ]</p>
      <button class="menu__toggle js-menu__close" type="button">
        Close
        <svg width="20" height="20">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <div class="menu__wrapper-nav">
      <nav class="menu__nav">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="/#gift">Gift box</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/#learning">What you&#8217;ll learn</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/#programm">Programm</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/#package">Package</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/#about">About artist</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/#artist">Artist</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/#feedback">Feedback</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/#faq">Faq</a>
          </li>
        </ul>
      </nav>

      <div>
        <p class="menu__legacy">Create your legacy</p>

        <a href="#package" class="menu__button">
          <svg class="menu__button-icon-border">
            <use
              class="menu__button-icon-border-sm"
              href="./images/icons.svg#icon-menu-btn-border-sm"
            ></use>
            <use
              class="menu__button-icon-border-lg"
              href="./images/icons.svg#icon-menu-btn-border-lg"
            ></use>
          </svg>
          <span class="menu__button-text">JOIN THE COURSE</span>
          <span class="menu__button-span-icon">
            <svg height="13" width="11">
              <use href="./images/icons.svg#icon-arrow-sideward"></use>
            </svg>
          </span>
        </a>

        <div class="menu__wrapper-copyright">
          <a class="menu__link--mail" href="mailto:hypetattoo@gmail.com">
            hypetattoo@gmail.com
          </a>

          <div>
            <p class="menu__copyright">(C) HYPE 2024</p>
            <p class="menu__copyright">ALL RIGHTS RESERVED</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
