<section class="hero">
  <!-- <div class="container"> -->
  <div class="hero__img-container container">
    <div class="hero__text-container">
      <svg class="hero__text-icon-first" height="20" width="52">
        <use href="./images/icons.svg#icon-star"></use>
      </svg>
      <p class="hero__text">
        Just a month away from creating your first tattoo
      </p>
      <svg class="hero__text-icon-second" height="17" width="39">
        <use href="./images/icons.svg#icon-planet"></use>
      </svg>
    </div>

    <h1 class="hero__title">
      <span class="hero__title-span">create your legacy</span> tattooing from
      scratch
    </h1>

    <button class="hero__button" type="button" data-modal-open>
      <svg class="hero__button-icon-border" width="175" height="67">
        <use href="./images/icons.svg#icon-btn-border"></use>
      </svg>
      <span class="hero__button-text">JOIN THE COURSE</span>
      <span class="hero__button-span-icon">
        <svg height="13" width="11">
          <use href="./images/icons.svg#icon-arrow-sideward"></use>
        </svg>
      </span>
    </button>
  </div>

  <div class="container">
    <ul class="hero__list">
      <li class="hero__list--item hero__bg--item--accent">
        <p class="hero__list--item__number">_001/<span>004</span></p>
        <h3 class="hero__list--item__title">Newbies</h3>
        <p class="hero__list--item__text">
          Never held a tattoo machine? No&nbsp;problem! This course will take
          you from zero to your first masterpiece
        </p>
        <svg height="44" width="44">
          <use href="./images/icons.svg#icon-newbies"></use>
        </svg>
      </li>
      <li class="hero__list--item hero__bg--item--white">
        <p class="hero__list--item__number">_002/<span>004</span></p>
        <h3 class="hero__list--item__title">Young Professionals</h3>
        <p class="hero__list--item__text">
          Already have a few tattoos and thinking about taking your skills to
          the next level? We’ll help you refine your technique and build the
          confidence
        </p>
        <svg height="44" width="44">
          <use href="./images/icons.svg#icon-professionals"></use>
        </svg>
      </li>
      <li class="hero__list--item hero__bg--item--white">
        <p class="hero__list--item__number">_003/<span>004</span></p>
        <h3 class="hero__list--item__title">Advanced Learners</h3>
        <p class="hero__list--item__text">
          Got the basics down? Time to kick it up a notch! This course will
          sharpen your skills and teach you the advanced techniques that turn
          good tattoos into great ones
        </p>
        <svg height="44" width="44">
          <use href="./images/icons.svg#icon-advanced"></use>
        </svg>
      </li>
      <li class="hero__list--item hero__bg--item--white">
        <p class="hero__list--item__number">_004/<span>004</span></p>
        <h3 class="hero__list--item__title">Tattoo Veterans</h3>
        <p class="hero__list--item__text">
          Seen it all, inked it all? Almost! This course will refresh your
          skills, introduce new trends, and give you a few tricks even seasoned
          pros can appreciate.
        </p>
        <svg height="44" width="44">
          <use href="./images/icons.svg#icon-tattoo"></use>
        </svg>
      </li>
    </ul>

    <div class="hero__container--black">
      <svg height="11" width="246">
        <use href="./images/icons.svg#icon-group-tobe"></use>
      </svg>
      <p class="hero__container--black__text">
        To be able to participate in this course you must be over 18 years old
      </p>
      <svg height="11" width="246">
        <use href="./images/icons.svg#icon-group-tobe"></use>
      </svg>
    </div>
  </div>
</section>
