<section id="learning" class="learning">
  <div class="learning__img container">
    <h2 class="learning__title">What You&#8217;ll Learn</h2>
  </div>
  <div class="learning__slider--wrapper">
    <input
      id="learning-slide1"
      type="radio"
      name="learning-slider"
      class="learning__slider--wrapper__radio"
      checked
    />
    <input
      id="learning-slide2"
      type="radio"
      name="learning-slider"
      class="learning__slider--wrapper__radio"
    />
    <input
      id="learning-slide3"
      type="radio"
      name="learning-slider"
      class="learning__slider--wrapper__radio"
    />
    <input
      id="learning-slide4"
      type="radio"
      name="learning-slider"
      class="learning__slider--wrapper__radio"
    />
    <input
      id="learning-slide5"
      type="radio"
      name="learning-slider"
      class="learning__slider--wrapper__radio"
    />

    <div class="learning__slider--container container-nopadding">
      <ul class="learning__list">
        <li class="learning__item">
          <svg height="63" width="64">
            <use href="./images/icons.svg#icon-hyper"></use>
          </svg>
          <h4 class="learning__item__title">Tattoo Application Basics</h4>
          <p class="learning__item__text">
            Master the techniques to create clean, crisp, and unforgettable
            tattoos
          </p>
        </li>
        <li class="learning__item">
          <svg height="63" width="64">
            <use href="./images/icons.svg#icon-triangle"></use>
          </svg>
          <h4 class="learning__item__title">Craft Unique Designs</h4>
          <p class="learning__item__text">
            Bring your artistic vision to life with designs that are truly
            one-of-a-kind
          </p>
        </li>
        <li class="learning__item">
          <svg height="63" width="64">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
          <h4 class="learning__item__title">Instagram & Self-Promotion</h4>
          <p class="learning__item__text">
            Build a following that&#8217;s as permanent as your tattoos
          </p>
        </li>
        <li class="learning__item">
          <svg height="63" width="64">
            <use href="./images/icons.svg#icon-globe"></use>
          </svg>
          <h4 class="learning__item__title">Master Tattoo Equipment</h4>
          <p class="learning__item__text">
            Learn to control your tattoo machine like it&#8217;s an extension of
            your hand
          </p>
        </li>
        <li class="learning__item">
          <svg height="63" width="64">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
          <h4 class="learning__item__title">Marketing & Facebook&nbsp;ads</h4>
          <p class="learning__item__text">
            Elevate your brand with targeted ads that put your work in front of
            the right eyes
          </p>
        </li>
      </ul>
    </div>

    <div class="learning__slider--control">
      <label id="learning-label1" for="learning-slide1"></label>
      <label id="learning-label2" for="learning-slide2"></label>
      <label id="learning-label3" for="learning-slide3"></label>
      <label id="learning-label4" for="learning-slide4"></label>
      <label id="learning-label5" for="learning-slide5"></label>
    </div>
  </div>
</section>
