<section id="package" class="package">
  <div class="container">
    <h3 class="package__title">Pick Your Path</h3>
    <ul class="package__card--list">
      <li class="package__card package__card__bg--white">
        <div class="package__wrapper">
          <h4 class="package__subtitle">QUANTUM</h4>
          <svg
            height="51"
            width="51"
            class="package__wrapper--icon package__fill--accent"
          >
            <use href="./images/icons.svg#icon-quantum"></use>
          </svg>

          <ul class="package__list">
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-play"></use>
                </svg>
                <h5 class="package__item--title">
                  Starter kit for tattoo artists
                </h5>
              </div>
              <p class="package__item--text">
                Everything you need to start your tattoo journey, all in one kit
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-placement"></use>
                </svg>
                <h5 class="package__item--title">
                  Mastering tattoo design software
                </h5>
              </div>
              <p class="package__item--text">
                Master Procreate to bring your tattoo ideas to life with
                precision and creativity
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-checked"></use>
                </svg>
                <h5 class="package__item--title">Creating unique designs</h5>
              </div>
              <p class="package__item--text">
                Develop your own signature style and stand out in the tattoo
                world
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-sessions"></use>
                </svg>
                <h5 class="package__item--title">
                  Ink selection and mixing guidance
                </h5>
              </div>
              <p class="package__item--text">
                Master the techniques of selecting and blending inks for
                flawless, vibrant tattoos
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-checked"></use>
                </svg>
                <h5 class="package__item--title">
                  Tattoo machine setup and tuning
                </h5>
              </div>
              <p class="package__item--text">
                Gain the knowledge to ensure your equipment works smoothly and
                efficiently
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-placement"></use>
                </svg>
                <h5 class="package__item--title">
                  Tattoo placement and composition
                </h5>
              </div>
              <p class="package__item--text">
                Explore the art of positioning and arranging your designs for a
                balanced and visually appealing composition
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-sessions"></use>
                </svg>
                <h5 class="package__item--title">
                  4 in-person practice sessions
                </h5>
              </div>
              <p class="package__item--text">
                Hone your skills with hands-on experience under expert guidance
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-mortarboard"></use>
                </svg>
                <h5 class="package__item--title">
                  Certificate upon course completion
                </h5>
              </div>
              <p class="package__item--text">
                Official recognition of your progress and readiness to take on
                clients
              </p>
            </li>
            <li class="package__item--opacity">
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-portfolio"></use>
                </svg>
                <h5 class="package__item--title">
                  Assistance with portfolio creation
                </h5>
              </div>
              <p class="package__item--text">
                Build a portfolio that showcases your talents and attracts
                potential customers
              </p>
            </li>
            <li class="package__item--opacity">
              <div class="package__item--container">
                <svg height="12" width="12" class="package__stroke--black">
                  <use href="./images/icons.svg#icon-plus"></use>
                </svg>
                <h5 class="package__item--title">
                  Marketing secrets for tattoo artists
                </h5>
              </div>
              <p class="package__item--text">
                Learn strategies to effectively promote yourself and grow your
                clientele
              </p>
            </li>
            <li class="package__item--opacity">
              <div class="package__item--container">
                <svg height="12" width="12" class="package__stroke--black">
                  <use href="./images/icons.svg#icon-plus"></use>
                </svg>
                <h5 class="package__item--title">A great time well spent</h5>
              </div>
              <p class="package__item--text">
                Enjoy a fulfilling learning experience in a creative and
                motivating environment with the talented artists from our studio
              </p>
            </li>
            <li class="package__item--opacity">
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-dialogue"></use>
                </svg>
                <h5 class="package__item--title">
                  Detailed feedback from professionals
                </h5>
              </div>
              <p class="package__item--text">
                Receive tailored advice to help you improve your technique and
                artistry
              </p>
            </li>
            <li class="package__item--opacity">
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-location"></use>
                </svg>
                <h5 class="package__item--title">
                  Opportunity to join our team
                </h5>
              </div>
              <p class="package__item--text">
                Exceptional graduates may have the chance to collaborate with us
                on future projects
              </p>
            </li>
            <li class="package__item--opacity">
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-location"></use>
                </svg>
                <h5 class="package__item--title">
                  2 days of personal mentorship from Demus
                </h5>
              </div>
              <p class="package__item--text">
                After the course, you&#8217;ll have a private session to work on
                your own client with Demus, who will guide you and answer any
                questions.
              </p>
            </li>
          </ul>
          <h3 class="package__price">2990$</h3>
          <h4 class="package__price--old">3990$</h4>
        </div>

        <ul class="package__btn--list">
          <li>
            <button
              class="package__button"
              type="button"
              data-modal="proceed"
              data-title="QUANTUM"
            >
              <svg class="package__button-icon-border">
                <use
                  class="package__button-icon-border-sm"
                  href="./images/icons.svg#icon-package-btn-border-sm-black"
                ></use>
                <use
                  class="package__button-icon-border-lg"
                  href="./images/icons.svg#icon-package-btn-border-lg-black"
                ></use>
              </svg>
              <span class="package__button-text">Choose and proceed</span>
              <span class="package__button-span-icon">
                <svg height="15" width="13">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </button>
          </li>
          <li>
            <button
              class="package__button"
              type="button"
              data-modal="consultation"
            >
              <svg class="package__button-icon-border">
                <use
                  class="package__button-icon-border-sm"
                  href="./images/icons.svg#icon-package-btn-border-sm-black"
                ></use>
                <use
                  class="package__button-icon-border-lg"
                  href="./images/icons.svg#icon-package-btn-border-lg-black"
                ></use>
              </svg>
              <span class="package__button-text">Consultation</span>
              <span class="package__button-span-icon">
                <svg height="15" width="13">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </button>
          </li>
        </ul>

        <div class="package__span--container">
          <span>[ 001 ]</span>
          <span>[ choose ]</span>
        </div>
      </li>

      <li class="package__card package__card__bg--accent">
        <div class="package__wrapper">
          <h4 class="package__subtitle">HYPER</h4>
          <svg
            height="51"
            width="51"
            class="package__wrapper--icon package__fill--black"
          >
            <use href="./images/icons.svg#icon-hyper"></use>
          </svg>

          <ul class="package__list">
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-play"></use>
                </svg>
                <h5 class="package__item--title">
                  Starter kit for tattoo artists
                </h5>
              </div>
              <p class="package__item--text">
                Everything you need to start your tattoo journey, all in one kit
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-placement"></use>
                </svg>
                <h5 class="package__item--title">
                  Mastering tattoo design software
                </h5>
              </div>
              <p class="package__item--text">
                Master Procreate to bring your tattoo ideas to life with
                precision and creativity
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-checked"></use>
                </svg>
                <h5 class="package__item--title">Creating unique designs</h5>
              </div>
              <p class="package__item--text">
                Develop your own signature style and stand out in the tattoo
                world
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-sessions"></use>
                </svg>
                <h5 class="package__item--title">
                  Ink selection and mixing guidance
                </h5>
              </div>
              <p class="package__item--text">
                Master the techniques of selecting and blending inks for
                flawless, vibrant tattoos
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-checked"></use>
                </svg>
                <h5 class="package__item--title">
                  Tattoo machine setup and tuning
                </h5>
              </div>
              <p class="package__item--text">
                Gain the knowledge to ensure your equipment works smoothly and
                efficiently
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-placement"></use>
                </svg>
                <h5 class="package__item--title">
                  Tattoo placement and composition
                </h5>
              </div>
              <p class="package__item--text">
                Explore the art of positioning and arranging your designs for a
                balanced and visually appealing composition
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-sessions"></use>
                </svg>
                <h5 class="package__item--title">
                  4 in-person practice sessions
                </h5>
              </div>
              <p class="package__item--text">
                Hone your skills with hands-on experience under expert guidance
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-mortarboard"></use>
                </svg>
                <h5 class="package__item--title">
                  Certificate upon course completion
                </h5>
              </div>
              <p class="package__item--text">
                Official recognition of your progress and readiness to take on
                clients
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-portfolio"></use>
                </svg>
                <h5 class="package__item--title">
                  Assistance with portfolio creation
                </h5>
              </div>
              <p class="package__item--text">
                Build a portfolio that showcases your talents and attracts
                potential customers
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__stroke--black">
                  <use href="./images/icons.svg#icon-plus"></use>
                </svg>
                <h5 class="package__item--title">
                  Marketing secrets for tattoo artists
                </h5>
              </div>
              <p class="package__item--text">
                Learn strategies to effectively promote yourself and grow your
                clientele
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__stroke--black">
                  <use href="./images/icons.svg#icon-plus"></use>
                </svg>
                <h5 class="package__item--title">A great time well spent</h5>
              </div>
              <p class="package__item--text">
                Enjoy a fulfilling learning experience in a creative and
                motivating environment with the talented artists from our studio
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-dialogue"></use>
                </svg>
                <h5 class="package__item--title">
                  Detailed feedback from professionals
                </h5>
              </div>
              <p class="package__item--text">
                Receive tailored advice to help you improve your technique and
                artistry
              </p>
            </li>
            <li class="package__item--opacity">
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-location"></use>
                </svg>
                <h5 class="package__item--title">
                  Opportunity to join our team
                </h5>
              </div>
              <p class="package__item--text">
                Exceptional graduates may have the chance to collaborate with us
                on future projects
              </p>
            </li>
            <li class="package__item--opacity">
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon">
                  <use href="./images/icons.svg#icon-location"></use>
                </svg>
                <h5 class="package__item--title">
                  2 days of personal mentorship from Demus
                </h5>
              </div>
              <p class="package__item--text">
                After the course, you&#8217;ll have a private session to work on
                your own client with Demus, who will guide you and answer any
                questions.
              </p>
            </li>
          </ul>
          <h3 class="package__price">3990$</h3>
          <h4 class="package__price--old">5990$</h4>
        </div>

        <ul class="package__btn--list">
          <li>
            <button
              class="package__button--hyper"
              type="button"
              data-modal="proceed"
              data-title="HYPER"
            >
              <svg class="package__button--hyper-icon-border">
                <use
                  class="package__button--hyper-icon-border-sm"
                  href="./images/icons.svg#icon-package-btn-border-sm-black"
                ></use>
                <use
                  class="package__button--hyper-icon-border-lg"
                  href="./images/icons.svg#icon-package-btn-border-lg-black"
                ></use>
              </svg>
              <span class="package__button--hyper-text"
                >Choose and proceed</span
              >
              <span class="package__button--hyper-span-icon">
                <svg height="15" width="13">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </button>
          </li>
          <li>
            <button
              class="package__button--hyper"
              type="button"
              data-modal="consultation"
            >
              <svg class="package__button--hyper-icon-border">
                <use
                  class="package__button--hyper-icon-border-sm"
                  href="./images/icons.svg#icon-package-btn-border-sm-black"
                ></use>
                <use
                  class="package__button--hyper-icon-border-lg"
                  href="./images/icons.svg#icon-package-btn-border-lg-black"
                ></use>
              </svg>
              <span class="package__button--hyper-text">Consultation</span>
              <span class="package__button--hyper-span-icon">
                <svg height="15" width="13">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </button>
          </li>
        </ul>

        <div class="package__span--container">
          <span>[ 002 ]</span>
          <span>[ choose ]</span>
        </div>
      </li>

      <li class="package__card package__card__bg--black package__text-color">
        <div class="package__wrapper">
          <h4 class="package__subtitle">BLAST</h4>
          <svg
            height="51"
            width="51"
            class="package__wrapper--icon package__fill--white"
          >
            <use href="./images/icons.svg#icon-blast"></use>
          </svg>

          <ul class="package__list">
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon--white">
                  <use href="./images/icons.svg#icon-play"></use>
                </svg>
                <h5 class="package__item--title">
                  Starter kit for tattoo artists
                </h5>
              </div>
              <p class="package__item--text">
                Everything you need to start your tattoo journey, all in one kit
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon--white">
                  <use href="./images/icons.svg#icon-placement"></use>
                </svg>
                <h5 class="package__item--title">
                  Mastering tattoo design software
                </h5>
              </div>
              <p class="package__item--text">
                Master Procreate to bring your tattoo ideas to life with
                precision and creativity
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon--white">
                  <use href="./images/icons.svg#icon-checked"></use>
                </svg>
                <h5 class="package__item--title">Creating unique designs</h5>
              </div>
              <p class="package__item--text">
                Develop your own signature style and stand out in the tattoo
                world
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon--white">
                  <use href="./images/icons.svg#icon-sessions"></use>
                </svg>
                <h5 class="package__item--title">
                  Ink selection and mixing guidance
                </h5>
              </div>
              <p class="package__item--text">
                Master the techniques of selecting and blending inks for
                flawless, vibrant tattoos
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon--white">
                  <use href="./images/icons.svg#icon-checked"></use>
                </svg>
                <h5 class="package__item--title">
                  Tattoo machine setup and tuning
                </h5>
              </div>
              <p class="package__item--text">
                Gain the knowledge to ensure your equipment works smoothly and
                efficiently
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon--white">
                  <use href="./images/icons.svg#icon-placement"></use>
                </svg>
                <h5 class="package__item--title">
                  Tattoo placement and composition
                </h5>
              </div>
              <p class="package__item--text">
                Explore the art of positioning and arranging your designs for a
                balanced and visually appealing composition
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon--white">
                  <use href="./images/icons.svg#icon-sessions"></use>
                </svg>
                <h5 class="package__item--title">
                  4 in-person practice sessions
                </h5>
              </div>
              <p class="package__item--text">
                Hone your skills with hands-on experience under expert guidance
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon--white">
                  <use href="./images/icons.svg#icon-mortarboard"></use>
                </svg>
                <h5 class="package__item--title">
                  Certificate upon course completion
                </h5>
              </div>
              <p class="package__item--text">
                Official recognition of your progress and readiness to take on
                clients
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon--white">
                  <use href="./images/icons.svg#icon-portfolio"></use>
                </svg>
                <h5 class="package__item--title">
                  Assistance with portfolio creation
                </h5>
              </div>
              <p class="package__item--text">
                Build a portfolio that showcases your talents and attracts
                potential customers
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__stroke--white">
                  <use href="./images/icons.svg#icon-plus"></use>
                </svg>
                <h5 class="package__item--title">
                  Marketing secrets for tattoo artists
                </h5>
              </div>
              <p class="package__item--text">
                Learn strategies to effectively promote yourself and grow your
                clientele
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__stroke--white">
                  <use href="./images/icons.svg#icon-plus"></use>
                </svg>
                <h5 class="package__item--title">A great time well spent</h5>
              </div>
              <p class="package__item--text">
                Enjoy a fulfilling learning experience in a creative and
                motivating environment with the talented artists from our studio
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon--white">
                  <use href="./images/icons.svg#icon-dialogue"></use>
                </svg>
                <h5 class="package__item--title">
                  Detailed feedback from professionals
                </h5>
              </div>
              <p class="package__item--text">
                Receive tailored advice to help you improve your technique and
                artistry
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon--white">
                  <use href="./images/icons.svg#icon-location"></use>
                </svg>
                <h5 class="package__item--title">
                  Opportunity to join our team
                </h5>
              </div>
              <p class="package__item--text">
                Exceptional graduates may have the chance to collaborate with us
                on future projects
              </p>
            </li>
            <li>
              <div class="package__item--container">
                <svg height="12" width="12" class="package__icon--white">
                  <use href="./images/icons.svg#icon-location"></use>
                </svg>
                <h5 class="package__item--title">
                  2 days of personal mentorship from Demus
                </h5>
              </div>
              <p class="package__item--text">
                After the course, you&#8217;ll have a private session to work on
                your own client with Demus, who will guide you and answer any
                questions.
              </p>
            </li>
          </ul>
          <h3 class="package__price">6990$</h3>
          <h4 class="package__price--old">8990$</h4>
        </div>

        <ul class="package__btn--list">
          <li>
            <button
              class="package__button--blast"
              type="button"
              data-modal="proceed"
              data-title="BLAST"
            >
              <svg class="package__button--blast-icon-border">
                <use
                  class="package__button--blast-icon-border-sm"
                  href="./images/icons.svg#icon-package-btn-border-sm-color"
                ></use>
                <use
                  class="package__button--blast-icon-border-lg"
                  href="./images/icons.svg#icon-package-btn-border-lg-color"
                ></use>
              </svg>
              <span class="package__button--blast-text"
                >Choose and proceed</span
              >
              <span class="package__button--blast-span-icon">
                <svg height="15" width="13">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </button>
          </li>
          <li>
            <button
              class="package__button--blast"
              type="button"
              data-modal="consultation"
            >
              <svg class="package__button--blast-icon-border">
                <use
                  class="package__button--blast-icon-border-sm"
                  href="./images/icons.svg#icon-package-btn-border-sm-color"
                ></use>
                <use
                  class="package__button--blast-icon-border-lg"
                  href="./images/icons.svg#icon-package-btn-border-lg-color"
                ></use>
              </svg>
              <span class="package__button--blast-text">Consultation</span>
              <span class="package__button--blast-span-icon">
                <svg height="15" width="13">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </button>
          </li>
        </ul>

        <div class="package__span--container">
          <span>[ 003 ]</span>
          <span>[ choose ]</span>
        </div>
      </li>
    </ul>
  </div>
</section>
