<section id="programm" class="programm">
  <div class="container programm__container">
    <div class="programm__title-wrapper">
      <h3 class="programm__title">From Basics to Mastery</h3>
      <div>
        <h4 class="programm__subtitle">Learning Journey</h4>
        <p class="programm__text">
          You&#8217;ll go from &#8220;What does this button do?&#8221; to
          &#8220;check out my masterpiece!&#8221; Every step is hands-on, so by
          the end, you&#8217;ll be ready to ink with confidence
        </p>
      </div>
    </div>

    <ul class="programm__list">
      <li class="programm__list__item">
        <details class="programm__details" name="programm-topic">
          <summary class="programm__meeting">
            <span class="programm__meeting__label">Meeting</span>
            <span class="programm__meeting__label">1</span>
            <span class="programm__meeting__title">Introduction & Theory</span>
          </summary>
        </details>

        <div class="programm__content">
          <div class="programm__content__body">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  ./images/programm/desktop_1x.webp 1x,
                  ./images/programm/desktop_2x.webp 2x
                "
                type="image/webp"
                width="529"
                height="241"
              />

              <source
                media="(max-width:767.99px)"
                srcset="
                  ./images/programm/mobile_1x.webp 1x,
                  ./images/programm/mobile_2x.webp 2x
                "
                type="image/webp"
                width="241"
                height="90"
              />
              <img
                class="programm__img--meeting"
                src="./images/programm/mobile_1x.webp"
                alt="David, Ruslan and Lara photos"
                width="241"
                height="90"
                loading="lazy"
              />
            </picture>

            <div class="programm__wrapper">
              <svg width="34" height="25">
                <use href="./images/icons.svg#icon-education"></use>
              </svg>
              <h5 class="programm__wrapper__title">David, Ruslan and Lara</h5>
            </div>
            <p class="programm__description">
              Meet your instructors and get a crash course in the basics of
              tattooing. This is where your journey begins—no pressure, just
              pure excitement!
            </p>

            <a href="#package" class="programm__button">
              <svg class="programm__button-icon-border">
                <use
                  class="programm__button-icon-border-sm"
                  href="./images/icons.svg#icon-hero-btn-border-sm"
                ></use>
                <use
                  class="programm__button-icon-border-lg"
                  href="./images/icons.svg#icon-hero-btn-border-lg"
                ></use>
              </svg>
              <span class="programm__button-text">JOIN THE COURSE</span>
              <span class="programm__button-span-icon">
                <svg height="13" width="11">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </li>
      <li class="programm__list__item">
        <details class="programm__details" name="programm-topic">
          <summary class="programm__meeting">
            <span class="programm__meeting__label">Meeting</span>
            <span class="programm__meeting__label">2</span>
            <span class="programm__meeting__title"
              >Foundations of Tattooing</span
            >
          </summary>
        </details>

        <div class="programm__content">
          <div class="programm__content__body">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  ./images/programm/desktop_1x.webp 1x,
                  ./images/programm/desktop_2x.webp 2x
                "
                type="image/webp"
                width="529"
                height="241"
              />

              <source
                media="(max-width:767.99px)"
                srcset="
                  ./images/programm/mobile_1x.webp 1x,
                  ./images/programm/mobile_2x.webp 2x
                "
                type="image/webp"
                width="241"
                height="90"
              />
              <img
                class="programm__img--meeting"
                src="./images/programm/mobile_1x.webp"
                alt="David, Ruslan and Lara photos"
                width="241"
                height="90"
                loading="lazy"
              />
            </picture>

            <div class="programm__wrapper">
              <svg width="34" height="25">
                <use href="./images/icons.svg#icon-education"></use>
              </svg>
              <h5 class="programm__wrapper__title">David, Ruslan and Lara</h5>
            </div>
            <p class="programm__description">
              You&#8217;ll learn the must-know sanitary rules, technical skills,
              and styles. Plus, we&#8217;ll teach you how to work with clients
              and build your personal brand. It&#8217;s everything you need to
              get started!
            </p>

            <a href="#package" class="programm__button">
              <svg class="programm__button-icon-border">
                <use
                  class="programm__button-icon-border-sm"
                  href="./images/icons.svg#icon-hero-btn-border-sm"
                ></use>
                <use
                  class="programm__button-icon-border-lg"
                  href="./images/icons.svg#icon-hero-btn-border-lg"
                ></use>
              </svg>
              <span class="programm__button-text">JOIN THE COURSE</span>
              <span class="programm__button-span-icon">
                <svg height="13" width="11">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </li>
      <li class="programm__list__item">
        <details class="programm__details" name="programm-topic">
          <summary class="programm__meeting">
            <span class="programm__meeting__label">Meeting</span>
            <span class="programm__meeting__label">3</span>
            <span class="programm__meeting__title">Artistic Foundations</span>
          </summary>
        </details>

        <div class="programm__content">
          <div class="programm__content__body">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  ./images/programm/desktop_1x.webp 1x,
                  ./images/programm/desktop_2x.webp 2x
                "
                type="image/webp"
                width="529"
                height="241"
              />

              <source
                media="(max-width:767.99px)"
                srcset="
                  ./images/programm/mobile_1x.webp 1x,
                  ./images/programm/mobile_2x.webp 2x
                "
                type="image/webp"
                width="241"
                height="90"
              />
              <img
                class="programm__img--meeting"
                src="./images/programm/mobile_1x.webp"
                alt="David, Ruslan and Lara photos"
                width="241"
                height="90"
                loading="lazy"
              />
            </picture>

            <div class="programm__wrapper">
              <svg width="34" height="25">
                <use href="./images/icons.svg#icon-education"></use>
              </svg>
              <h5 class="programm__wrapper__title">David, Ruslan and Lara</h5>
            </div>
            <p class="programm__description">
              Enhance your artistic abilities with essential drawing techniques,
              even if you&#8217;re new to drawing. Plus, learn how to use
              Procreate, a powerful app for creating digital tattoo designs
            </p>
            <a href="#package" class="programm__button">
              <svg class="programm__button-icon-border">
                <use
                  class="programm__button-icon-border-sm"
                  href="./images/icons.svg#icon-hero-btn-border-sm"
                ></use>
                <use
                  class="programm__button-icon-border-lg"
                  href="./images/icons.svg#icon-hero-btn-border-lg"
                ></use>
              </svg>
              <span class="programm__button-text">JOIN THE COURSE</span>
              <span class="programm__button-span-icon">
                <svg height="13" width="11">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </li>
      <li class="programm__list__item">
        <details class="programm__details" name="programm-topic">
          <summary class="programm__meeting">
            <span class="programm__meeting__label">Meeting</span>
            <span class="programm__meeting__label">4</span>
            <span class="programm__meeting__title">Masterclass</span>
          </summary>
        </details>

        <div class="programm__content">
          <div class="programm__content__body">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  ./images/programm/desktop_1x.webp 1x,
                  ./images/programm/desktop_2x.webp 2x
                "
                type="image/webp"
                width="529"
                height="241"
              />

              <source
                media="(max-width:767.99px)"
                srcset="
                  ./images/programm/mobile_1x.webp 1x,
                  ./images/programm/mobile_2x.webp 2x
                "
                type="image/webp"
                width="241"
                height="90"
              />
              <img
                class="programm__img--meeting"
                src="./images/programm/mobile_1x.webp"
                alt="David, Ruslan and Lara photos"
                width="241"
                height="90"
                loading="lazy"
              />
            </picture>

            <div class="programm__wrapper">
              <svg width="34" height="25">
                <use href="./images/icons.svg#icon-education"></use>
              </svg>
              <h5 class="programm__wrapper__title">David, Ruslan and Lara</h5>
            </div>
            <p class="programm__description">
              You&#8217;ll get to see tattoo artists with years of experience in
              action. Get ready to pick up some awesome tips!
            </p>
            <a href="#package" class="programm__button">
              <svg class="programm__button-icon-border">
                <use
                  class="programm__button-icon-border-sm"
                  href="./images/icons.svg#icon-hero-btn-border-sm"
                ></use>
                <use
                  class="programm__button-icon-border-lg"
                  href="./images/icons.svg#icon-hero-btn-border-lg"
                ></use>
              </svg>
              <span class="programm__button-text">JOIN THE COURSE</span>
              <span class="programm__button-span-icon">
                <svg height="13" width="11">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </li>
      <li class="programm__list__item">
        <details class="programm__details" name="programm-topic">
          <summary class="programm__meeting">
            <span class="programm__meeting__label">Meeting</span>
            <span class="programm__meeting__label">5</span>
            <span class="programm__meeting__title">Practical Training</span>
          </summary>
        </details>

        <div class="programm__content">
          <div class="programm__content__body">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  ./images/programm/desktop_1x.webp 1x,
                  ./images/programm/desktop_2x.webp 2x
                "
                type="image/webp"
                width="529"
                height="241"
              />

              <source
                media="(max-width:767.99px)"
                srcset="
                  ./images/programm/mobile_1x.webp 1x,
                  ./images/programm/mobile_2x.webp 2x
                "
                type="image/webp"
                width="241"
                height="90"
              />
              <img
                class="programm__img--meeting"
                src="./images/programm/mobile_1x.webp"
                alt="David, Ruslan and Lara photos"
                width="241"
                height="90"
                loading="lazy"
              />
            </picture>

            <div class="programm__wrapper">
              <svg width="34" height="25">
                <use href="./images/icons.svg#icon-education"></use>
              </svg>
              <h5 class="programm__wrapper__title">David, Ruslan and Lara</h5>
            </div>
            <p class="programm__description">
              Time to roll up your sleeves. Practice on artificial skin and
              start turning theory into action. This is where the magic begins!
            </p>
            <a href="#package" class="programm__button">
              <svg class="programm__button-icon-border">
                <use
                  class="programm__button-icon-border-sm"
                  href="./images/icons.svg#icon-hero-btn-border-sm"
                ></use>
                <use
                  class="programm__button-icon-border-lg"
                  href="./images/icons.svg#icon-hero-btn-border-lg"
                ></use>
              </svg>
              <span class="programm__button-text">JOIN THE COURSE</span>
              <span class="programm__button-span-icon">
                <svg height="13" width="11">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </li>
      <li class="programm__list__item">
        <details class="programm__details" name="programm-topic">
          <summary class="programm__meeting">
            <span class="programm__meeting__label">Meeting</span>
            <span class="programm__meeting__label">6</span>
            <span class="programm__meeting__title">Practice & Masterclass</span>
          </summary>
        </details>

        <div class="programm__content">
          <div class="programm__content__body">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  ./images/programm/desktop_1x.webp 1x,
                  ./images/programm/desktop_2x.webp 2x
                "
                type="image/webp"
                width="529"
                height="241"
              />

              <source
                media="(max-width:767.99px)"
                srcset="
                  ./images/programm/mobile_1x.webp 1x,
                  ./images/programm/mobile_2x.webp 2x
                "
                type="image/webp"
                width="241"
                height="90"
              />
              <img
                class="programm__img--meeting"
                src="./images/programm/mobile_1x.webp"
                alt="David, Ruslan and Lara photos"
                width="241"
                height="90"
                loading="lazy"
              />
            </picture>

            <div class="programm__wrapper">
              <svg width="34" height="25">
                <use href="./images/icons.svg#icon-education"></use>
              </svg>
              <h5 class="programm__wrapper__title">David, Ruslan and Lara</h5>
            </div>
            <p class="programm__description">
              Keep leveling up! More practice, more advanced tips, and another
              masterclass to help you sharpen those skills. You&#8217;re getting
              closer to pro status
            </p>
            <a href="#package" class="programm__button">
              <svg class="programm__button-icon-border">
                <use
                  class="programm__button-icon-border-sm"
                  href="./images/icons.svg#icon-hero-btn-border-sm"
                ></use>
                <use
                  class="programm__button-icon-border-lg"
                  href="./images/icons.svg#icon-hero-btn-border-lg"
                ></use>
              </svg>
              <span class="programm__button-text">JOIN THE COURSE</span>
              <span class="programm__button-span-icon">
                <svg height="13" width="11">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </li>
      <li class="programm__list__item">
        <details class="programm__details" name="programm-topic">
          <summary class="programm__meeting">
            <span class="programm__meeting__label">Meeting</span>
            <span class="programm__meeting__label">7</span>
            <span class="programm__meeting__title">Portfolio Building</span>
          </summary>
        </details>

        <div class="programm__content">
          <div class="programm__content__body">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  ./images/programm/desktop_1x.webp 1x,
                  ./images/programm/desktop_2x.webp 2x
                "
                type="image/webp"
                width="529"
                height="241"
              />

              <source
                media="(max-width:767.99px)"
                srcset="
                  ./images/programm/mobile_1x.webp 1x,
                  ./images/programm/mobile_2x.webp 2x
                "
                type="image/webp"
                width="241"
                height="90"
              />
              <img
                class="programm__img--meeting"
                src="./images/programm/mobile_1x.webp"
                alt="David, Ruslan and Lara photos"
                width="241"
                height="90"
                loading="lazy"
              />
            </picture>

            <div class="programm__wrapper">
              <svg width="34" height="25">
                <use href="./images/icons.svg#icon-education"></use>
              </svg>
              <h5 class="programm__wrapper__title">David, Ruslan and Lara</h5>
            </div>
            <p class="programm__description">
              Let&#8217;s get you noticed! Learn how to create a killer
              portfolio and make your online presence grab attention. Clients
              will be lining up in no time
            </p>
            <a href="#package" class="programm__button">
              <svg class="programm__button-icon-border">
                <use
                  class="programm__button-icon-border-sm"
                  href="./images/icons.svg#icon-hero-btn-border-sm"
                ></use>
                <use
                  class="programm__button-icon-border-lg"
                  href="./images/icons.svg#icon-hero-btn-border-lg"
                ></use>
              </svg>
              <span class="programm__button-text">JOIN THE COURSE</span>
              <span class="programm__button-span-icon">
                <svg height="13" width="11">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </li>
      <li class="programm__list__item">
        <details class="programm__details" name="programm-topic">
          <summary class="programm__meeting">
            <span class="programm__meeting__label">Meeting</span>
            <span class="programm__meeting__label">8</span>
            <span class="programm__meeting__title">Design Practice</span>
          </summary>
        </details>

        <div class="programm__content">
          <div class="programm__content__body">
            <div class="programm__img--block">
              <picture>
                <source
                  media="(min-width:1440px)"
                  srcset="
                    ./images/programm/desktop_demus_1x.webp 1x,
                    ./images/programm/desktop_demus_2x.webp 2x
                  "
                  type="image/webp"
                  width="238"
                  height="238"
                />

                <source
                  media="(max-width:767.99px)"
                  srcset="
                    ./images/programm/mobile_demus_1x.webp 1x,
                    ./images/programm/mobile_demus_2x.webp 2x
                  "
                  type="image/webp"
                  width="108"
                  height="108"
                />
                <img
                  class="programm__img--meeting programm__nomargin"
                  src="./images/programm/mobile_demus_1x.webp"
                  alt="Demus Bohdan"
                  width="108"
                  height="108"
                  loading="lazy"
                />
              </picture>

              <div class="programm__wrapper programm__nomargin">
                <svg width="34" height="25">
                  <use href="./images/icons.svg#icon-education"></use>
                </svg>
                <h5 class="programm__wrapper__title programm__name">
                  Demus Bohdan
                </h5>
              </div>
            </div>
            <p class="programm__description">
              Get ready to design tattoos that work with the body&#8217;s
              natural shape. We&#8217;ll teach you how to create unique designs
              that perfectly fit and complement human anatomy
            </p>

            <a href="#package" class="programm__button">
              <svg class="programm__button-icon-border">
                <use
                  class="programm__button-icon-border-sm"
                  href="./images/icons.svg#icon-hero-btn-border-sm"
                ></use>
                <use
                  class="programm__button-icon-border-lg"
                  href="./images/icons.svg#icon-hero-btn-border-lg"
                ></use>
              </svg>
              <span class="programm__button-text">JOIN THE COURSE</span>
              <span class="programm__button-span-icon">
                <svg height="13" width="11">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </li>
      <li class="programm__list__item">
        <details class="programm__details" name="programm-topic">
          <summary class="programm__meeting">
            <span class="programm__meeting__label">Meeting</span>
            <span class="programm__meeting__label">9</span>
            <span class="programm__meeting__title">Practice</span>
          </summary>
        </details>

        <div class="programm__content">
          <div class="programm__content__body">
            <div class="programm__img--block">
              <picture>
                <source
                  media="(min-width:1440px)"
                  srcset="
                    ./images/programm/desktop_demus_1x.webp 1x,
                    ./images/programm/desktop_demus_2x.webp 2x
                  "
                  type="image/webp"
                  width="238"
                  height="238"
                />
                <source
                  media="(max-width:767.99px)"
                  srcset="
                    ./images/programm/mobile_demus_1x.webp 1x,
                    ./images/programm/mobile_demus_2x.webp 2x
                  "
                  type="image/webp"
                  width="108"
                  height="108"
                />
                <img
                  class="programm__img--meeting programm__nomargin"
                  src="./images/programm/mobile_demus_1x.webp"
                  alt="Demus Bohdan"
                  width="108"
                  height="108"
                  loading="lazy"
                />
              </picture>

              <div class="programm__wrapper programm__nomargin">
                <svg width="34" height="25">
                  <use href="./images/icons.svg#icon-education"></use>
                </svg>
                <h5 class="programm__wrapper__title programm__name">
                  Demus Bohdan
                </h5>
              </div>
            </div>
            <p class="programm__description">
              A little extra practice never hurt anyone. Let&#8217;s refine what
              you&#8217;ve learned. You&#8217;re so close to the finish line,
              keep going strong!
            </p>

            <a href="#package" class="programm__button">
              <svg class="programm__button-icon-border">
                <use
                  class="programm__button-icon-border-sm"
                  href="./images/icons.svg#icon-hero-btn-border-sm"
                ></use>
                <use
                  class="programm__button-icon-border-lg"
                  href="./images/icons.svg#icon-hero-btn-border-lg"
                ></use>
              </svg>
              <span class="programm__button-text">JOIN THE COURSE</span>
              <span class="programm__button-span-icon">
                <svg height="13" width="11">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </li>
      <li class="programm__list__item">
        <details class="programm__details" name="programm-topic">
          <summary class="programm__meeting">
            <span class="programm__meeting__label">Meeting</span>
            <span class="programm__meeting__label programm__number">10</span>
            <span class="programm__meeting__title"
              >Marketing & Certification</span
            >
          </summary>
        </details>

        <div class="programm__content">
          <div class="programm__content__body">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  ./images/programm/desktop_all_1x.webp 1x,
                  ./images/programm/desktop_all_2x.webp 2x
                "
                type="image/webp"
                width="684"
                height="241"
              />

              <source
                media="(max-width:767.99px)"
                srcset="
                  ./images/programm/mobile_all_1x.webp 1x,
                  ./images/programm/mobile_all_2x.webp 2x
                "
                type="image/webp"
                width="302"
                height="90"
              />
              <img
                class="programm__img--meeting"
                src="./images/programm/desktop_all_1x.webp"
                alt="David, Ruslan, Demus and Lara photos"
                width="302"
                height="90"
                loading="lazy"
              />
            </picture>

            <div class="programm__wrapper">
              <svg width="34" height="25">
                <use href="./images/icons.svg#icon-education"></use>
              </svg>
              <h5 class="programm__wrapper__title">
                David, Ruslan, Demus and Lara
              </h5>
            </div>
            <p class="programm__description">
              Meet your instructors and get a crash course in the basics of
              tattooing. This is where your journey begins—no pressure, just
              pure excitement!
            </p>

            <a href="#package" class="programm__button">
              <svg class="programm__button-icon-border">
                <use
                  class="programm__button-icon-border-sm"
                  href="./images/icons.svg#icon-hero-btn-border-sm"
                ></use>
                <use
                  class="programm__button-icon-border-lg"
                  href="./images/icons.svg#icon-hero-btn-border-lg"
                ></use>
              </svg>
              <span class="programm__button-text">JOIN THE COURSE</span>
              <span class="programm__button-span-icon">
                <svg height="13" width="11">
                  <use href="./images/icons.svg#icon-arrow-sideward"></use>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="programm__img--container">
    <div class="container">
      <svg height="45" width="286" class="programm__img--container__icon">
        <use href="./images/icons.svg#icon-smile"></use>
      </svg>

      <div class="programm__img--wrapper">
        <h3 class="programm__img--wrapper__title">THE BEST OF THE BEST</h3>
      </div>
      <p class="programm__img--text">
        The top student in the course will receive a month of free mentorship
        from Hype Tattoo Studio. Show you&#8217;re worthy and use this
        opportunity to take your skills to the next level
      </p>

      <a href="#package" class="programm__button--best">
        <svg class="programm__button--best-icon-border">
          <use
            class="programm__button--best-icon-border-sm"
            href="./images/icons.svg#icon-programm-btn-border-sm"
          ></use>
          <use
            class="programm__button--best-icon-border-lg"
            href="./images/icons.svg#icon-programm-btn-border-lg"
          ></use>
        </svg>
        <span class="programm__button--best-text">JOIN THE COURSE</span>
        <span class="programm__button--best-span-icon">
          <svg height="13" width="11">
            <use href="./images/icons.svg#icon-arrow-sideward"></use>
          </svg>
        </span>
      </a>

      <div class="programm__icon--container">
        <svg height="12" width="93">
          <use href="./images/icons.svg#icon-arrows-left"></use>
        </svg>
        <svg height="12" width="93">
          <use href="./images/icons.svg#icon-arrows-left"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
