@import "normalize.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mona Sans", sans-serif;
  font-weight: 500;
  background-color: #f9f9f9;
  color: #000;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

ul,
ol,
menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

summary {
  list-style: none;
  cursor: pointer;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 60px;
  }
}
@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding: 0 74px;
  }
}

@font-face {
  font-family: "Mona Sans";
  src: url("../fonts/MonaSans-Regular.woff2") format("woff2"), url("../fonts/MonaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mona Sans";
  src: url("../fonts/MonaSans-Medium.woff2") format("woff2"), url("../fonts/MonaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mona Sans";
  src: url("../fonts/MonaSans-Bold.woff2") format("woff2"), url("../fonts/MonaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mona Sans";
  src: url("../fonts/MonaSans-Light.woff2") format("woff2"), url("../fonts/MonaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Druk Cyr";
  src: url("../fonts/DrukCyr-Bold.woff2") format("woff2"), url("../fonts/DrukCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Druk Cyr";
  src: url("../fonts/DrukCyr-Heavy.woff2") format("woff2"), url("../fonts/DrukCyr-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.header {
  background-color: #000;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 14px;
}
.header__logo {
  fill: #fff;
}
.header__button-menu {
  display: flex;
  gap: 10px;
  background-color: transparent;
  width: auto;
  height: 24px;
  font-family: "Druk Cyr", serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.915;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  transition: color 0.3s ease;
}
.header__button-menu svg {
  fill: #00d0d2;
  transition: fill 0.3s ease;
}
.header__button-menu:hover, .header__button-menu:focus-visible, .header__button-menu:active {
  color: #00d0d2;
}
.header__button-menu:hover svg, .header__button-menu:focus-visible svg, .header__button-menu:active svg {
  fill: #fff;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  transform: scale(0);
  width: 100%;
  height: 100%;
  background: #00d0d2;
  padding: 45px 20px;
  transition: transform 0.45s ease;
}
.menu__container-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.menu__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
}
.menu__toggle {
  display: flex;
  align-items: center;
  gap: 34px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  transition: color 0.3s ease;
}
.menu__toggle svg {
  fill: #fff;
  transition: fill 0.3s ease;
}
.menu__toggle:hover, .menu__toggle:focus-visible, .menu__toggle:active {
  color: #000;
}
.menu__toggle:hover svg, .menu__toggle:focus-visible svg, .menu__toggle:active svg {
  fill: #000;
}
.menu__nav {
  margin-bottom: 60px;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__item {
  text-align: center;
}
.menu__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000;
  transition: text-decoration 0.3s ease;
}
.menu__link:hover, .menu__link:focus-visible, .menu__link:active {
  text-decoration: underline;
}
.menu__legacy {
  font-family: "Druk Cyr", serif;
  font-weight: 700;
  font-size: 57px;
  line-height: 0.99;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.menu__button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 71px;
}
@media only screen and (min-width: 1920px) {
  .menu__button {
    height: 121px;
    gap: 8px;
  }
}
.menu__button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 218px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000;
  background: transparent;
  transition: background-color 0.3s ease;
}
@media only screen and (min-width: 1920px) {
  .menu__button-text {
    width: 371px;
  }
}
.menu__button-icon-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 71px;
}
.menu__button-icon-border-lg {
  display: none;
}
@media (min-width: 1920px) {
  .menu__button-icon-border {
    width: 371px;
    height: 121px;
  }
  .menu__button-icon-border-sm {
    display: none;
  }
  .menu__button-icon-border-lg {
    display: inline;
  }
}
.menu__button-span-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 71px;
  background-color: #000;
}
@media only screen and (min-width: 1920px) {
  .menu__button-span-icon {
    width: 121px;
  }
}
.menu__button-span-icon svg {
  stroke: #fff;
  transition: stroke 0.3s ease;
}
.menu__button {
  margin-bottom: 52px;
  margin-inline: auto;
}
.menu__button:hover .menu__button-text, .menu__button:focus-visible .menu__button-text, .menu__button:active .menu__button-text {
  background-color: #fff;
}
.menu__button:hover .menu__button-span-icon svg, .menu__button:focus-visible .menu__button-span-icon svg, .menu__button:active .menu__button-span-icon svg {
  stroke: #00d0d2;
}
.menu__link--mail {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}
.menu__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}
.menu__copyright:last-child {
  margin-bottom: 0;
}

.is-open {
  transform: scale(1);
}

.hero {
  padding-bottom: 57px;
}
.hero__text-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 51px;
}
.hero__img-container {
  padding-top: 51px;
  padding-bottom: 96px;
  background: url("../images/hero/hero_mobile_1x.jpg") no-repeat center top -140px/cover;
  max-width: 1920px;
  height: 641px;
  margin-inline: auto;
  margin-bottom: 35px;
}
@media only screen and (max-width: 374.99px) {
  .hero__img-container {
    background-position: center top -90px;
  }
}
@media only screen and (max-width: 767px) and (min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 192dpi) {
  .hero__img-container {
    background-image: url("../images/hero/hero_mobile_2x.jpg");
  }
}
@media only screen and (min-width: 1440px) {
  .hero__img-container {
    background-image: url("../images/hero/hero_desktop_1x.jpg");
  }
}
@media only screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero__img-container {
    background-image: url("../images/hero/hero_desktop_2x.jpg");
  }
}
.hero__text {
  width: 95px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-align: center;
}
.hero__text-icon-first {
  fill: #000;
}
.hero__text-icon-second {
  stroke: #000;
  fill: #000;
}
.hero__title {
  font-family: "Druk Cyr", serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 0.99;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  width: 260px;
  margin-bottom: 51px;
}
.hero__title-span {
  display: inline-block;
  width: 203px;
}
.hero__button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3px;
  height: 67px;
}
@media only screen and (min-width: 1920px) {
  .hero__button {
    height: 104px;
    gap: 4px;
  }
}
.hero__button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 175px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000;
  background: transparent;
  transition: background-color 0.3s ease;
}
@media only screen and (min-width: 1920px) {
  .hero__button-text {
    width: 320px;
  }
}
.hero__button-icon-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 67px;
}
.hero__button-icon-border-lg {
  display: none;
}
@media (min-width: 1920px) {
  .hero__button-icon-border {
    width: 320px;
    height: 104px;
  }
  .hero__button-icon-border-sm {
    display: none;
  }
  .hero__button-icon-border-lg {
    display: inline;
  }
}
.hero__button-span-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 67px;
  background-color: #00d0d2;
}
@media only screen and (min-width: 1920px) {
  .hero__button-span-icon {
    width: 104px;
  }
}
.hero__button-span-icon svg {
  stroke: #000;
  transition: stroke 0.3s ease;
}
.hero__button:hover .hero__button-text, .hero__button:focus-visible .hero__button-text, .hero__button:active .hero__button-text {
  background-color: #fff;
}
.hero__button:hover .hero__button-span-icon svg, .hero__button:focus-visible .hero__button-span-icon svg, .hero__button:active .hero__button-span-icon svg {
  stroke: #fff;
}
.hero__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}
.hero__bg--item--accent {
  background-color: #00d0d2;
}
.hero__bg--item--white {
  background-color: #fff;
}
.hero__list--item {
  position: relative;
  border-radius: 22px;
  height: 272px;
  padding: 39px 27px;
}
.hero__list--item__number {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.99;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 31px;
}
.hero__list--item__number span {
  color: rgba(0, 0, 0, 0.33);
}
.hero__list--item__title {
  font-family: "Druk Cyr", serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 0.99;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.hero__list--item__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.44;
  letter-spacing: -0.03em;
  width: 265px;
}
.hero__list--item svg {
  position: absolute;
  top: 28px;
  right: 30px;
  fill: #000;
}
.hero__container--black {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 26px;
  background-color: #000;
  height: 272px;
  border-radius: 22px;
}
.hero__container--black__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.44;
  letter-spacing: -0.03em;
  text-align: center;
  color: #fff;
  width: 253px;
}
.hero__container--black svg {
  fill: #fff;
}

.footer {
  background-color: #00d0d2;
}
.footer__container {
  padding-block: 42px 36px;
  padding-inline: 10px;
}
.footer__title {
  font-weight: 700;
  font-size: 127px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 39px;
}
.footer__wrapper {
  padding-inline: 10px;
}
.footer__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 2px;
}
.footer__link {
  display: inline-block;
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer__link-mail {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin-bottom: 21px;
}
.footer__link-social {
  margin-bottom: 44px;
}
.footer__address {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 18px 53px;
  margin-bottom: 44px;
  padding-right: 41px;
}
.footer__address-wrapper {
  max-width: 154px;
}
.footer__button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3px;
  height: 49px;
}
@media only screen and (min-width: 1920px) {
  .footer__button {
    height: 121px;
    gap: 8px;
  }
}
.footer__button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 192px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000;
  background: transparent;
  transition: background-color 0.3s ease;
}
@media only screen and (min-width: 1920px) {
  .footer__button-text {
    width: 371px;
  }
}
.footer__button-icon-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 192px;
  height: 49px;
}
.footer__button-icon-border-lg {
  display: none;
}
@media (min-width: 1920px) {
  .footer__button-icon-border {
    width: 371px;
    height: 121px;
  }
  .footer__button-icon-border-sm {
    display: none;
  }
  .footer__button-icon-border-lg {
    display: inline;
  }
}
.footer__button-span-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 49px;
  background-color: #000;
}
@media only screen and (min-width: 1920px) {
  .footer__button-span-icon {
    width: 121px;
  }
}
.footer__button-span-icon svg {
  stroke: #fff;
  transition: stroke 0.3s ease;
}
.footer__button {
  margin-bottom: 44px;
}
.footer__button:hover .footer__button-text, .footer__button:focus-visible .footer__button-text, .footer__button:active .footer__button-text {
  background-color: #fff;
}
.footer__button:hover .footer__button-span-icon svg, .footer__button:focus-visible .footer__button-span-icon svg, .footer__button:active .footer__button-span-icon svg {
  stroke: #00d0d2;
}
.footer__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fff;
  margin-bottom: 2px;
}
.footer__copyright:last-child {
  margin-bottom: 0;
}

.gift {
  padding-bottom: 56px;
}
.gift__img {
  margin-inline: auto;
  margin-bottom: 16px;
}
.gift__container {
  padding-inline: 10px;
}
.gift__wrapper-list {
  border-radius: 22px;
  padding: 20px;
  margin-bottom: 31px;
  background-color: #fff;
}
.gift__list--container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.gift__list--container__item {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.91667;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1e1e1e;
  background-color: #00d0d2;
  padding: 8px 12px;
  border-radius: 100px;
}
.gift__title {
  font-family: "Druk Cyr", serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 0.99;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.gift__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-inline: 20px;
}
.gift__list--item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.gift__list--item span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-weight: 600;
  font-size: 12px;
  line-height: 2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.gift__list--item__text {
  font-weight: 500;
  font-size: 15px;
  width: 240px;
}

.learning {
  position: relative;
  padding-bottom: 68px;
}
.learning::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 442px;
  background: url("../images/learning/learning_mobile_1x.jpg") no-repeat center/cover;
}
@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .learning::before {
    background-image: url("../images/learning/learning_mobile_2x.jpg");
  }
}
.learning__img {
  margin-bottom: 237px;
}
.learning__title {
  font-family: "Druk Cyr", serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 0.99;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 44px;
}
.learning__slider--wrapper {
  padding-left: 10px;
}
.learning__slider--wrapper__radio {
  display: none;
}
.learning__slider--container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 16px;
}
.learning__list {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 500%;
  transition: transform 0.5s ease;
}
.learning__item {
  width: 335px;
  height: 335px;
  padding: 32px;
  border: 1px solid #bebebe;
  background-color: #fff;
}
.learning__item svg {
  fill: #00d0d2;
  margin-bottom: 56px;
}
.learning__item__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.42644;
  letter-spacing: -0.03em;
  color: #161616;
  margin-bottom: 16px;
}
.learning__item__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.03em;
}
.learning__slider--control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.learning__slider--control label {
  width: 20px;
  height: 6px;
  border-radius: 40px;
  cursor: pointer;
  background-color: #d0d0d0;
  transition: background-color 0.3s ease, width 0.3s ease;
}
#learning-slide1:checked ~ .learning__slider--container .learning__list {
  transform: translateX(0px);
}
#learning-slide1:checked ~ .learning__slider--control #learning-label1 {
  width: 33px;
  background-color: #00d0d2;
}
#learning-slide2:checked ~ .learning__slider--container .learning__list {
  transform: translateX(-345px);
}
#learning-slide2:checked ~ .learning__slider--control #learning-label2 {
  width: 33px;
  background-color: #00d0d2;
}
#learning-slide3:checked ~ .learning__slider--container .learning__list {
  transform: translateX(-690px);
}
#learning-slide3:checked ~ .learning__slider--control #learning-label3 {
  width: 33px;
  background-color: #00d0d2;
}
#learning-slide4:checked ~ .learning__slider--container .learning__list {
  transform: translateX(-1035px);
}
#learning-slide4:checked ~ .learning__slider--control #learning-label4 {
  width: 33px;
  background-color: #00d0d2;
}
#learning-slide5:checked ~ .learning__slider--container .learning__list {
  transform: translateX(-1380px);
}
#learning-slide5:checked ~ .learning__slider--control #learning-label5 {
  width: 33px;
  background-color: #00d0d2;
}

.programm__container {
  margin-bottom: 57px;
}
.programm__list {
  display: flex;
  flex-direction: column;
}
.programm__list__item {
  display: flex;
  flex-direction: column;
  padding-block: 25px 10px;
}
.programm__list__item:not(:first-child) {
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
}
.programm__list__item:first-child {
  padding-top: 0;
}
.programm__list__item:has(details[open]) {
  padding-bottom: 40px;
}
.programm__details {
  opacity: 20%;
  transition: opacity 0.3s ease;
}
.programm__details[open] {
  opacity: 1;
  margin-bottom: 30px;
}
.programm details > summary::-webkit-details-marker {
  display: none;
}
.programm__meeting {
  display: flex;
  align-items: center;
}
.programm__meeting__label {
  border: 0.5px solid #000;
  border-radius: 50px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.programm__meeting__label:nth-last-child(2) {
  margin-right: 15px;
}
.programm__meeting__title {
  font-weight: 500;
  font-size: 18px;
}
.programm__number {
  padding-inline: 8px;
}
.programm__img--meeting {
  margin-bottom: 24px;
}
.programm__content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.5s;
}
.programm__content__body {
  overflow: hidden;
}
.programm__details[open] + .programm__content {
  grid-template-rows: 1fr;
}
.programm__title {
  font-family: "Druk Cyr", serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 0.99;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  width: 250px;
  margin-inline: auto;
  margin-bottom: 28px;
}
.programm__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 7px;
}
.programm__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 68px;
}
.programm__wrapper {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 20px;
}
.programm__wrapper svg {
  fill: #000;
}
.programm__wrapper__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.03em;
}
.programm__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
  width: 290px;
}
.programm__img--block {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 30px;
}
.programm__name {
  width: 68px;
}
.programm__nomargin {
  margin-bottom: 0;
}
.programm__button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3px;
  height: 67px;
}
@media only screen and (min-width: 1920px) {
  .programm__button {
    height: 104px;
    gap: 8px;
  }
}
.programm__button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 176px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000;
  background: transparent;
  transition: background-color 0.3s ease;
}
@media only screen and (min-width: 1920px) {
  .programm__button-text {
    width: 320px;
  }
}
.programm__button-icon-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 176px;
  height: 67px;
}
.programm__button-icon-border-lg {
  display: none;
}
@media (min-width: 1920px) {
  .programm__button-icon-border {
    width: 320px;
    height: 104px;
  }
  .programm__button-icon-border-sm {
    display: none;
  }
  .programm__button-icon-border-lg {
    display: inline;
  }
}
.programm__button-span-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 67px;
  background-color: #00d0d2;
}
@media only screen and (min-width: 1920px) {
  .programm__button-span-icon {
    width: 104px;
  }
}
.programm__button-span-icon svg {
  stroke: #000;
  transition: stroke 0.3s ease;
}
.programm__button:hover .programm__button-text, .programm__button:focus-visible .programm__button-text, .programm__button:active .programm__button-text {
  background-color: #fff;
}
.programm__button:hover .programm__button-span-icon svg, .programm__button:focus-visible .programm__button-span-icon svg, .programm__button:active .programm__button-span-icon svg {
  stroke: #fff;
}
.programm__img--container {
  background-color: #000;
  position: relative;
  padding-top: 66px;
  isolation: isolate;
  overflow: hidden;
  padding-bottom: 79px;
}
.programm__img--container::before, .programm__img--container::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 463px;
  height: 463px;
  background-color: #00d0d2;
  border-radius: 50%;
  filter: blur(300px);
}
.programm__img--container::before {
  top: -256px;
  left: -248px;
}
.programm__img--container::after {
  bottom: -256px;
  right: -248px;
}
.programm__img--container__icon {
  display: block;
  margin-inline: auto;
  fill: #fff;
  margin-bottom: 64px;
}
.programm__img--wrapper {
  border: 0.31px solid #fff;
  background: url("../images/programm/programm_mobile_best_1x.png") no-repeat center/cover;
  max-width: 1059px;
  height: 332px;
  margin-bottom: 43px;
}
@media only screen and (max-width: 1439.99px) and (min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 192dpi) {
  .programm__img--wrapper {
    background-image: url("../images/programm/programm_mobile_best_2x.png");
  }
}
@media only screen and (min-width: 1440px) {
  .programm__img--wrapper {
    background-image: url("../images/programm/programm_desktop_best_1x.png");
  }
}
@media only screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 192dpi) {
  .programm__img--wrapper {
    background-image: url("../images/programm/programm_desktop_best_2x.png");
  }
}
.programm__img--wrapper__title {
  font-family: "Druk Cyr", serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 0.99;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-size: 59px;
  text-align: center;
  color: #fff;
  mix-blend-mode: color-dodge;
  padding-top: 243px;
}
.programm__img--text {
  width: 316px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.03em;
  text-align: center;
  color: #fff;
  margin-bottom: 26px;
}
.programm__icon--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.programm__icon--container svg {
  stroke: #fff;
  fill: none;
}
.programm__icon--container svg:last-child {
  transform: rotate(180deg);
}
.programm__button--best {
  margin-bottom: 33px;
  margin-inline: auto;
  position: relative;
  display: flex;
  align-items: center;
  gap: 3px;
  height: 62px;
}
@media only screen and (min-width: 1920px) {
  .programm__button--best {
    height: 121px;
    gap: 5px;
  }
}
.programm__button--best-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 164px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #00d0d2;
  background: transparent;
  transition: background-color 0.3s ease;
}
@media only screen and (min-width: 1920px) {
  .programm__button--best-text {
    width: 320px;
  }
}
.programm__button--best-icon-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 164px;
  height: 62px;
}
.programm__button--best-icon-border-lg {
  display: none;
}
@media (min-width: 1920px) {
  .programm__button--best-icon-border {
    width: 320px;
    height: 121px;
  }
  .programm__button--best-icon-border-sm {
    display: none;
  }
  .programm__button--best-icon-border-lg {
    display: inline;
  }
}
.programm__button--best-span-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 62px;
  background-color: #00d0d2;
}
@media only screen and (min-width: 1920px) {
  .programm__button--best-span-icon {
    width: 121px;
  }
}
.programm__button--best-span-icon svg {
  stroke: #000;
  transition: stroke 0.3s ease;
}
.programm__button--best:hover .programm__button--best-text, .programm__button--best:focus-visible .programm__button--best-text, .programm__button--best:active .programm__button--best-text {
  background-color: #fff;
}
.programm__button--best:hover .programm__button--best-span-icon svg, .programm__button--best:focus-visible .programm__button--best-span-icon svg, .programm__button--best:active .programm__button--best-span-icon svg {
  stroke: #fff;
}

.package {
  padding-bottom: 56px;
}
.package__title {
  font-family: "Druk Cyr", serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 0.99;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 73px;
  margin-bottom: 62px;
}
.package__card--list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.package__card {
  position: relative;
  border: 0.6px solid rgba(0, 0, 0, 0.22);
  padding: 42px 17px 36px;
}
.package__card__bg--white {
  background-color: #fff;
}
.package__card__bg--accent {
  background-color: #00d0d2;
}
.package__card__bg--black {
  background-color: #000;
}
.package__wrapper {
  padding-inline: 10px;
}
.package__wrapper--icon {
  position: absolute;
  top: 35px;
  right: 36px;
  fill: #00d0d2;
}
.package__fill--accent {
  fill: #00d0d2;
}
.package__fill--black {
  fill: #000;
}
.package__fill--white {
  fill: #fff;
}
.package__text-color {
  color: #fff;
}
.package__subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  margin-bottom: 37px;
}
.package__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 27px;
}
.package__item--container {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 9px;
}
.package__item--opacity {
  opacity: 0.22;
}
.package__icon {
  fill: #000;
}
.package__icon--white {
  fill: #fff;
}
.package__stroke--black {
  stroke: #000;
}
.package__stroke--white {
  stroke: #fff;
}
.package__item--title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.02em;
}
.package__item--text {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.66;
}
.package__price {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 12px;
}
.package__price--old {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  opacity: 0.33;
  text-align: center;
  margin-bottom: 37px;
}
.package__span--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: -0.03em;
}
.package__btn--list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 25px;
}
.package__button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 73px;
}
@media only screen and (min-width: 1920px) {
  .package__button {
    height: 121px;
    gap: 8px;
  }
}
.package__button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 223px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000;
  background: transparent;
  transition: background-color 0.3s ease;
}
@media only screen and (min-width: 1920px) {
  .package__button-text {
    width: 371px;
  }
}
.package__button-icon-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 223px;
  height: 73px;
}
.package__button-icon-border-lg {
  display: none;
}
@media (min-width: 1920px) {
  .package__button-icon-border {
    width: 371px;
    height: 121px;
  }
  .package__button-icon-border-sm {
    display: none;
  }
  .package__button-icon-border-lg {
    display: inline;
  }
}
.package__button-span-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 73px;
  background-color: #00d0d2;
}
@media only screen and (min-width: 1920px) {
  .package__button-span-icon {
    width: 121px;
  }
}
.package__button-span-icon svg {
  stroke: #fff;
  transition: stroke 0.3s ease;
}
.package__button:hover .package__button-text, .package__button:focus-visible .package__button-text, .package__button:active .package__button-text {
  background-color: #00d0d2;
}
.package__button:hover .package__button-span-icon svg, .package__button:focus-visible .package__button-span-icon svg, .package__button:active .package__button-span-icon svg {
  stroke: #000;
}
.package__button--hyper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 73px;
}
@media only screen and (min-width: 1920px) {
  .package__button--hyper {
    height: 121px;
    gap: 8px;
  }
}
.package__button--hyper-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 223px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000;
  background: transparent;
  transition: background-color 0.3s ease;
}
@media only screen and (min-width: 1920px) {
  .package__button--hyper-text {
    width: 371px;
  }
}
.package__button--hyper-icon-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 223px;
  height: 73px;
}
.package__button--hyper-icon-border-lg {
  display: none;
}
@media (min-width: 1920px) {
  .package__button--hyper-icon-border {
    width: 371px;
    height: 121px;
  }
  .package__button--hyper-icon-border-sm {
    display: none;
  }
  .package__button--hyper-icon-border-lg {
    display: inline;
  }
}
.package__button--hyper-span-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 73px;
  background-color: #000;
}
@media only screen and (min-width: 1920px) {
  .package__button--hyper-span-icon {
    width: 121px;
  }
}
.package__button--hyper-span-icon svg {
  stroke: #fff;
  transition: stroke 0.3s ease;
}
.package__button--hyper:hover .package__button--hyper-text, .package__button--hyper:focus-visible .package__button--hyper-text, .package__button--hyper:active .package__button--hyper-text {
  background-color: #fff;
}
.package__button--hyper:hover .package__button--hyper-span-icon svg, .package__button--hyper:focus-visible .package__button--hyper-span-icon svg, .package__button--hyper:active .package__button--hyper-span-icon svg {
  stroke: #00d0d2;
}
.package__button--blast {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 73px;
}
@media only screen and (min-width: 1920px) {
  .package__button--blast {
    height: 121px;
    gap: 8px;
  }
}
.package__button--blast-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 223px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000;
  background: #fff;
  transition: background-color 0.3s ease;
}
@media only screen and (min-width: 1920px) {
  .package__button--blast-text {
    width: 371px;
  }
}
.package__button--blast-icon-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 223px;
  height: 73px;
}
.package__button--blast-icon-border-lg {
  display: none;
}
@media (min-width: 1920px) {
  .package__button--blast-icon-border {
    width: 371px;
    height: 121px;
  }
  .package__button--blast-icon-border-sm {
    display: none;
  }
  .package__button--blast-icon-border-lg {
    display: inline;
  }
}
.package__button--blast-span-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 73px;
  background-color: #00d0d2;
}
@media only screen and (min-width: 1920px) {
  .package__button--blast-span-icon {
    width: 121px;
  }
}
.package__button--blast-span-icon svg {
  stroke: #fff;
  transition: stroke 0.3s ease;
}
.package__button--blast:hover .package__button--blast-text, .package__button--blast:focus-visible .package__button--blast-text, .package__button--blast:active .package__button--blast-text {
  background-color: #00d0d2;
}
.package__button--blast:hover .package__button--blast-span-icon svg, .package__button--blast:focus-visible .package__button--blast-span-icon svg, .package__button--blast:active .package__button--blast-span-icon svg {
  stroke: #000;
}

.about__container {
  padding-block: 66px;
  background-color: #00d0d2;
}
.about__icon {
  fill: #000;
  display: block;
  margin-inline: auto;
}
.about__margin {
  margin-bottom: 33px;
}
.about__title {
  font-family: "Druk Cyr", serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 0.99;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 22px;
}
.about__subtitle {
  font-family: "Druk Cyr", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  width: 338px;
  margin-inline: auto;
  margin-bottom: 22px;
}
.about__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-align: center;
  color: #1e1e1e;
  width: 210px;
  margin-inline: auto;
}
.about__img {
  margin-inline: auto;
  max-width: 375px;
  max-height: 446px;
}

.artist {
  position: relative;
  background-color: #000;
  padding-block: 76px 86px;
}
.artist__container {
  padding-inline: 0;
}
.artist__icon--line {
  position: absolute;
  top: 21px;
  left: -13px;
  width: 390px;
  height: 65px;
}
.artist__slider--container {
  overflow: hidden;
  padding-left: 10px;
  margin-left: -10px;
  width: 342px;
}
.artist__slider--list {
  display: flex;
  align-items: center;
  gap: 18px;
  width: calc(300% + 36px);
  transition: transform 0.5s ease;
}
.artist__slider--item {
  width: 100%;
}
.artist__list {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 14px;
}
.artist__item {
  position: relative;
  font-weight: 500;
  font-size: 9px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #fff;
}
.artist__item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -18px;
  right: 3px;
  width: 0.52px;
  height: 16px;
  background-color: #fff;
}
.artist__color--accent {
  color: #00d0d2;
}
.artist__wrapper {
  display: flex;
  justify-content: end;
  gap: 12px;
}
.artist__who--wrapper {
  position: relative;
  text-align: end;
  width: 103px;
  margin-bottom: 10px;
}
.artist__who--wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 116px;
  width: 0.7px;
  height: 47px;
  background-color: #fff;
  transform: rotate(138deg);
}
.artist__who--wrapper span {
  position: absolute;
  top: -10px;
  right: -61px;
}
.artist__span--style {
  font-weight: 500;
  font-size: 9px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}
.artist__name {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
}
.artist__wrapper--img {
  position: relative;
}
.artist__img {
  margin-inline: auto;
}
.artist__list--button {
  position: absolute;
  top: 372px;
  left: 20px;
  width: 335px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.artist__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #00d0d2;
  transition: background-color 0.3s ease;
}
.artist__button:hover, .artist__button:focus-visible, .artist__button:active {
  background-color: #fff;
}
.artist__icon--arrow {
  stroke: #000;
  fill: #000;
  transform: rotate(45deg);
}
.artist__icon--rotate {
  transform: rotate(225deg);
}
.artist__expirience--wrapper {
  position: relative;
  margin-left: -9px;
  width: 187px;
  margin-bottom: 17px;
}
.artist__expirience--wrapper::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 115px;
  width: 0.7px;
  height: 47px;
  background-color: #fff;
  transform: rotate(138deg);
}
.artist__expirience--wrapper span {
  position: absolute;
  top: -12px;
  right: 5px;
}
.artist__style--wrapper {
  position: relative;
  margin-left: auto;
  width: 176px;
  margin-bottom: 4px;
}
.artist__style--wrapper::after {
  content: "";
  position: absolute;
  bottom: 67px;
  left: 45px;
  width: 0.69px;
  height: 29px;
  background-color: #fff;
  transform: rotate(45deg);
}
.artist__style--wrapper--ruslan {
  margin-bottom: 17px;
}
.artist__style--wrapper--ruslan::after {
  bottom: 40px;
}
.artist__style--wrapper--david {
  margin-bottom: 31px;
}
.artist__style--wrapper--david::after {
  bottom: 67px;
}
.artist__left {
  text-align: end;
  margin-left: auto;
}
.artist__text--width {
  width: 137px;
}
.artist__width {
  display: block;
  width: 41px;
}
.artist__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 19px;
}
.artist__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.77;
  letter-spacing: -0.03em;
  color: #fff;
  width: 320px;
}

.feedback {
  padding: 46px 10px 73px;
}
.feedback__title {
  font-family: "Druk Cyr", serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 0.99;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  width: 355px;
  margin-bottom: 44px;
}
.feedback__title span {
  white-space: nowrap;
}
.feedback__list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 343px;
  height: 446px;
  margin-inline: auto;
  margin-bottom: 66px;
}
.feedback__list__item {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 114px 30px 32px;
  width: 287px;
  height: 420px;
  background-color: #00d0d2;
  transition: transform 0.5s ease;
}
.feedback__list__item:nth-child(2) {
  transform: rotate(-4deg);
  background-color: #14d0d2;
}
.feedback__list__item:nth-child(3) {
  transform: rotate(4deg);
  background-color: #00b2b4;
}
.feedback__list__item:nth-child(4) {
  transform: rotate(-6deg);
  background-color: #00c6c8;
}
.feedback__list__item:nth-child(5) {
  transform: rotate(-4deg);
  background-color: #14d0d2;
}
.feedback__list__item:nth-child(6) {
  transform: rotate(4deg);
  background-color: #00b2b4;
}
.feedback__list__item:nth-child(7) {
  transform: rotate(-6deg);
  background-color: #00c6c8;
}
.feedback__list__item:nth-child(8) {
  transform: rotate(-4deg);
  background-color: #14d0d2;
}
.feedback__list__item:nth-child(9) {
  transform: rotate(4deg);
  background-color: #00b2b4;
}
.feedback__list__item:nth-child(10) {
  transform: rotate(-6deg);
  background-color: #00c6c8;
}
.feedback__list__item.active {
  z-index: 10;
  transform: rotate(0deg);
  background-color: #00d0d2;
}
.feedback__list__item.behind {
  z-index: 5;
}
.feedback__icon {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: -1;
  fill: #14c6c8;
}
.feedback__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
}
.feedback__text-lh {
  line-height: 1.33;
}
.feedback__wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: auto;
}
.feedback__list--button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 43px;
}
.feedback__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #00d0d2;
  transition: background-color 0.3s ease, stroke 0.3s ease;
}
.feedback__button:hover, .feedback__button:focus-visible, .feedback__button:active {
  background: #000;
}
.feedback__button:hover svg, .feedback__button:focus-visible svg, .feedback__button:active svg {
  stroke: #00d0d2;
}
.feedback__icon--arrow {
  stroke: #000;
}
.feedback__icon--rotate {
  transform: rotate(180deg);
}
.feedback__button--course {
  margin-inline: auto;
  position: relative;
  display: flex;
  align-items: center;
  gap: 3px;
  height: 67px;
}
@media only screen and (min-width: 1920px) {
  .feedback__button--course {
    height: 104px;
    gap: 4px;
  }
}
.feedback__button--course-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 176px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000;
  background: transparent;
  transition: background-color 0.3s ease;
}
@media only screen and (min-width: 1920px) {
  .feedback__button--course-text {
    width: 320px;
  }
}
.feedback__button--course-icon-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 176px;
  height: 67px;
}
.feedback__button--course-icon-border-lg {
  display: none;
}
@media (min-width: 1920px) {
  .feedback__button--course-icon-border {
    width: 320px;
    height: 104px;
  }
  .feedback__button--course-icon-border-sm {
    display: none;
  }
  .feedback__button--course-icon-border-lg {
    display: inline;
  }
}
.feedback__button--course-span-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 67px;
  background-color: #00d0d2;
}
@media only screen and (min-width: 1920px) {
  .feedback__button--course-span-icon {
    width: 104px;
  }
}
.feedback__button--course-span-icon svg {
  stroke: #000;
  transition: stroke 0.3s ease;
}
.feedback__button--course:hover .feedback__button--course-text, .feedback__button--course:focus-visible .feedback__button--course-text, .feedback__button--course:active .feedback__button--course-text {
  background-color: #00d0d2;
}
.feedback__button--course:hover .feedback__button--course-span-icon svg, .feedback__button--course:focus-visible .feedback__button--course-span-icon svg, .feedback__button--course:active .feedback__button--course-span-icon svg {
  stroke: #fff;
}

.faq {
  padding-bottom: 49px;
}
.faq__title {
  font-family: "Druk Cyr", serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 0.99;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 34px;
}
.faq__wrapper--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 22px;
  border-top: 1px solid #414141;
  height: 77px;
}
.faq__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  width: 252px;
}
.faq__span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1.27px solid #414141;
  width: 33px;
  height: 33px;
}
.faq__icon {
  fill: #000;
  stroke: none;
}

/*# sourceMappingURL=style.css.map */
