@use "./variables";
@use "./mixins";

.about {
  background: linear-gradient(
    to bottom,
    variables.$accent-color 668px,
    transparent 670px
  );

  @media only screen and (max-width: 374.98px) {
    background: linear-gradient(
      to bottom,
      variables.$accent-color 545px,
      transparent 545px
    );
  }

  @media only screen and (min-width: 768px) {
    background: transparent;
  }

  &__wrapper {
    @media only screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }

  &__container {
    padding-block: 65px;

    @media only screen and (max-width: 374.98px) {
      padding-block: 40px;
    }

    @media only screen and (min-width: 768px) {
      margin-inline: 0;
      padding-inline: 26px;
      background-color: variables.$accent-color;
    }

    @media only screen and (min-width: 1440px) {
      padding: 104px 58px;
    }
  }

  &__icon--start {
    fill: variables.$black-text-color;
    display: block;
    margin-inline: auto;
    margin-bottom: 33px;

    @media only screen and (max-width: 374.98px) {
      margin-bottom: 24px;
    }

    @media only screen and (min-width: 1440px) {
      width: 95px;
      height: 95px;
      margin-bottom: 99px;
    }
  }

  &__icon--end {
    fill: variables.$black-text-color;
    display: block;
    margin-inline: auto;

    @media only screen and (min-width: 1440px) {
      width: 212px;
      height: 60px;
    }
  }

  &__title {
    @include mixins.title;
    text-align: center;
    margin-bottom: 22px;

    @media only screen and (max-width: 374.98px) {
      font-size: 58px;
      margin-bottom: 18px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 133px;
      margin-bottom: 44px;
    }
  }

  &__subtitle {
    font-family: variables.$font-secondary;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    width: 338px;
    margin-inline: auto;
    margin-bottom: 22px;

    @media only screen and (max-width: 374.98px) {
      font-size: 30px;
      width: 280px;
      margin-bottom: 18px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 66px;
      width: 600px;
      margin-bottom: 44px;
    }

    @media only screen and (min-width: 1920px) {
      font-size: 66px;
      width: 901px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-align: center;
    color: variables.$dark-text-color;
    width: 210px;
    margin-inline: auto;
    margin-bottom: 33px;

    @media only screen and (max-width: 374.98px) {
      font-size: 12px;
      width: 180px;
      margin-bottom: 24px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 24px;
      width: 400px;
    }

    @media only screen and (min-width: 1920px) {
      width: 656px;
    }
  }

  &__img {
    width: 375px;
    height: 446px;
    margin-inline: auto;

    @media only screen and (max-width: 374.98px) {
      width: 320px;
      height: 390px;
    }

    @media only screen and (min-width: 768px) {
      height: 669px;
    }

    @media only screen and (min-width: 1440px) {
      width: 724px;
      height: 1275px;
    }

    @media only screen and (min-width: 1920px) {
      width: 864px;
      height: 1210px;
    }
  }
}
