@use "./variables";
@use "./mixins";
:root {
  --after-translate-x: 0;
}

.artist {
  background-color: variables.$black-text-color;
  padding-block: 80px 86px;

  @media only screen and (max-width: 374.99px) {
    padding-block: 56px 66px;
  }
  @media only screen and (min-width: 768px) {
    padding-block: 60px 80px;
  }
  @media only screen and (min-width: 1440px) {
    padding-bottom: 40px;
  }

  &__container {
    position: relative;
  }

  &__icon--line {
    position: absolute;
    top: -60px;
    left: -13px;
    z-index: 1;
    width: 390px;
    height: 65px;
    &-lg {
      display: none;
    }
    @media only screen and (max-width: 374.99px) {
      top: -40px;
      left: 0;
      width: 320px;
    }
    @media only screen and (min-width: 768px) {
      top: -70px;
      width: 785px;
      height: 120px;
    }
    @media only screen and (min-width: 1440px) {
      top: -101px;
      left: 0;
      width: 1440px;
      height: 140px;
      &-sm {
        display: none;
      }

      &-lg {
        display: block;
      }
    }

    @media only screen and (min-width: 1920px) {
      width: 1916px;
      height: 151px;
    }
  }

  &__icon--vector {
    display: none;

    @media only screen and (min-width: 1440px) {
      display: block;
      position: absolute;
      bottom: -60px;
      right: 0;
      z-index: 1;
      width: 995px;
      height: 450px;
    }

    @media only screen and (min-width: 1920px) {
      width: 1200px;
      height: 500px;
    }
  }

  &__slider--container {
    width: 342px;
    margin-inline: auto;
    overflow: hidden;
    padding-left: 10px;
    margin-left: -10px;

    @media only screen and (max-width: 374.99px) {
      width: 290px;
      padding: 0;
      margin: 0;
    }

    @media only screen and (min-width: 768px) {
      width: 700px;
      padding: 0;
      margin-inline: auto;
    }

    @media only screen and (min-width: 1440px) {
      width: 1320px;
    }

    @media only screen and (min-width: 1920px) {
      width: 1772px;
    }
  }

  &__slider--list {
    @include mixins.flex-start;
    gap: 18px;
    width: calc(100% * 3 + 36px);
    transition: transform 0.5s ease;

    @media only screen and (min-width: 768px) {
      gap: 32px;
    }

    @media only screen and (min-width: 1440px) and (max-width: 1920px) {
      gap: 40px;
    }
  }

  &__slider--item {
    position: relative;
    width: 332px;
    @media only screen and (max-width: 374.99px) {
      width: 280px;
    }
    @media only screen and (min-width: 768px) {
      width: 700px;
      padding-inline: 60px;
    }
    @media only screen and (min-width: 1440px) {
      width: 1320px;
      padding: 0;
    }
    @media only screen and (min-width: 1920px) {
      width: 1772px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-bottom: 10px;

    @media only screen and (max-width: 374.99px) {
      width: 268px;
    }

    @media only screen and (min-width: 1440px) {
      margin: 0;
      position: absolute;
      bottom: 43px;
      right: 84px;
      z-index: 1;
      gap: 42px;
    }
  }

  &__item {
    position: relative;
    font-weight: 500;
    font-size: 9px;
    line-height: 1.4;
    letter-spacing: -0.03em;
    color: variables.$white-text-color;
    transition: color variables.$transition-delay variables.$transition-type;

    @media only screen and (min-width: 768px) {
      font-size: 12px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 18px;
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      bottom: -18px;
      right: 3px;
      width: 0.52px;
      height: 16px;
      background-color: variables.$white-text-color;

      @media only screen and (min-width: 1440px) {
        bottom: -35px;
        width: 1px;
        height: 32px;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: end;
    gap: 20px;
  }

  &__color--accent {
    color: variables.$accent-color;
  }

  &__who--wrapper {
    position: relative;
    text-align: end;
    width: 103px;
    margin-bottom: 10px;

    @media only screen and (min-width: 1440px) {
      position: absolute;
      top: 228px;
      left: 160px;
      z-index: 1;
      text-align: left;
      width: 243px;
      margin-bottom: 0;
    }

    @media only screen and (min-width: 1920px) {
      left: 379px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 116px;
      width: 0.7px;
      height: 47px;
      background-color: variables.$white-text-color;
      transform: rotate(138deg);

      @media only screen and (max-width: 374.99px) {
        bottom: 5px;
        height: 33px;
      }
      @media only screen and (min-width: 1440px) {
        bottom: 24px;
        left: 232px;
        height: 67px;
      }
    }

    span {
      position: absolute;
      top: -10px;
      right: -61px;
      @media only screen and (min-width: 1440px) {
        top: -22px;
      }
    }
  }

  &__span--style {
    font-weight: 500;
    font-size: 9px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: variables.$white-text-color;
    @media only screen and (min-width: 1440px) {
      font-size: 16px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: variables.$white-text-color;

    @media only screen and (max-width: 374.99px) {
      font-size: 20px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 56px;
    }
  }

  &__wrapper--img {
    position: relative;
  }

  &__img {
    margin-inline: auto;

    @media only screen and (max-width: 374.99px) {
      height: 360px;
      width: 250px;
    }
  }

  &__list--button {
    position: absolute;
    top: 292px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    width: calc(100% - 40px);

    @include mixins.flex-between;

    @media only screen and (max-width: 374.99px) {
      top: 260px;
    }

    @media only screen and (min-width: 768px) {
      width: 690px;
    }

    @media only screen and (min-width: 1440px) {
      width: 352px;
      top: auto;
      bottom: 35px;
      left: 70px;
      transform: none;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 192px;
        height: 3px;
        background-color: variables.$white-text-color;
      }
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 80px;
        transform: translate(var(--after-translate-x), -50%);
        width: 64px;
        height: 7px;
        background-color: variables.$accent-color;
        transition: transform variables.$transition-delay
          variables.$transition-type;
      }
    }
  }

  &__button {
    @include mixins.flex-center;
    width: 48px;
    height: 48px;
    background-color: variables.$accent-color;
    transition: background-color variables.$transition-delay
      variables.$transition-type;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: variables.$white-text-color;

      .artist__icon--arrow {
        transform: rotate(45deg) translateX(50%) translateY(-5px);
      }

      .artist__icon--rotate {
        transform: rotate(225deg) translateX(50%) translateY(-5px);
      }
    }

    @media only screen and (max-width: 374.99px) {
      width: 40px;
      height: 40px;
    }

    @media only screen and (min-width: 768px) {
      width: 54px;
      height: 54px;
    }

    @media only screen and (min-width: 1440px) {
      width: 64px;
      height: 64px;
    }
  }

  &__icon--arrow {
    stroke: variables.$black-text-color;
    transform: rotate(45deg);
    transition: fill variables.$transition-delay variables.$transition-type,
      transform variables.$transition-delay variables.$transition-type;

    @media only screen and (min-width: 1440px) {
      height: 16px;
      width: 16px;
    }
  }

  &__icon--rotate {
    transform: rotate(225deg);
    transition: fill variables.$transition-delay variables.$transition-type,
      transform variables.$transition-delay variables.$transition-type;
  }

  &__expirience--wrapper {
    position: relative;
    margin-left: -9px;
    width: 187px;
    margin-bottom: 17px;

    @media only screen and (min-width: 768px) {
      margin: 0;
    }

    @media only screen and (min-width: 1440px) {
      width: 234px;
      position: absolute;
      bottom: 299px;
      right: 130px;
    }

    @media only screen and (min-width: 1920px) {
      right: 390px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 3px;
      left: 115px;
      width: 0.7px;
      height: 47px;
      background-color: variables.$white-text-color;
      transform: rotate(138deg);
    }

    span {
      position: absolute;
      top: -12px;
      right: 5px;
      @media screen and (min-width: 1440px) {
        top: -18px;
        right: 272px;
      }
      @media screen and (min-width: 1920px) {
        top: -9px;
      }
    }

    @media only screen and (max-width: 374.99px) {
      margin-left: 12px;
      width: 157px;

      &::after {
        left: 92px;
        height: 37px;
      }
    }

    @media only screen and (min-width: 1440px) {
      &::after {
        left: -22px;
        bottom: 15px;
        height: 70px;
        transform: rotate(45deg);
      }
    }

    @media only screen and (min-width: 1920px) {
      &::after {
        bottom: 16px;
      }
    }
  }

  &__style--wrapper {
    position: relative;
    margin-left: auto;
    width: 176px;
    margin-bottom: 4px;

    &::after {
      content: "";
      position: absolute;
      bottom: 67px;
      left: 45px;
      width: 0.69px;
      height: 29px;
      background-color: variables.$white-text-color;
      transform: rotate(45deg);
    }

    @media only screen and (max-width: 374.99px) {
      width: 157px;

      &::after {
        bottom: 36px;
        left: 36px;
      }
    }

    @media only screen and (min-width: 1440px) {
      width: 400px;
      margin: 0;
      position: absolute;
      bottom: 474px;
      right: 15px;
      &::after {
        height: 69px;
        bottom: 141px;
        left: 92px;
      }
    }

    @media only screen and (min-width: 1920px) {
      width: 515px;
      right: 184px;
    }
  }

  &__style--wrapper--ruslan {
    margin-bottom: 17px;

    &::after {
      bottom: 40px;
    }

    @media only screen and (max-width: 374.99px) {
      &::after {
        bottom: 20px;
        left: 50px;
      }
    }

    @media only screen and (min-width: 1440px) {
      &::after {
        bottom: 85px;
      }
    }
  }

  &__style--wrapper--david {
    margin-bottom: 31px;

    &::after {
      bottom: 67px;
    }

    @media only screen and (max-width: 374.99px) {
      &::after {
        bottom: 20px;
        left: 50px;
      }
    }

    @media only screen and (min-width: 1440px) {
      &::after {
        bottom: 150px;
      }
    }
  }

  &__left {
    text-align: end;
    margin-left: auto;
    @media only screen and (max-width: 374.99px) {
      font-size: 18px;
    }
  }

  &__text--width {
    width: 137px;

    @media only screen and (max-width: 374.99px) {
      width: 110px;
    }

    @media only screen and (min-width: 1440px) and (max-width: 1919.99px) {
      width: 270px;
    }
  }

  &__width {
    display: block;
    width: 41px;
  }

  &__copy--wrapper {
    display: none;

    @media only screen and (min-width: 1440px) {
      width: 90px;
      display: block;
      position: absolute;
      top: 220px;
      left: 0;
      font-size: 14px;
      font-weight: 500;
      color: variables.$white-text-color;
      line-height: 1;
      letter-spacing: -0.02em;
      span {
        font-size: 31px;
      }
    }
  }

  &__about--wrapper {
    @media only screen and (min-width: 1440px) {
      position: absolute;
      bottom: 242px;
      left: 0;
      width: 641px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: variables.$white-text-color;
    margin-bottom: 19px;

    @media only screen and (max-width: 374.99px) {
      font-size: 30px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 56px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.77;
    letter-spacing: -0.03em;
    color: variables.$white-text-color;
    width: 320px;

    @media only screen and (max-width: 374.99px) {
      font-size: 12px;
      width: 260px;
    }

    @media only screen and (min-width: 768px) {
      width: 100%;
    }
  }
}
