@use "./variables";
@use "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 63px;

  @media only screen and (min-width: 1440px) {
    scroll-padding-top: 152px;
  }

  @media only screen and (min-width: 1920px) {
    scroll-padding-top: 172px;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: variables.$font-primary;
  font-weight: 500;
  background-color: variables.$primary-color;
  color: variables.$black-text-color;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}

ul,
ol,
menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

summary {
  list-style: none;
  cursor: pointer;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    @include mixins.container-max-width(768px, 32px);
  }

  @media only screen and (min-width: 1440px) {
    @include mixins.container-max-width(1440px, 60px);
  }

  @media only screen and (min-width: 1920px) {
    @include mixins.container-max-width(1920px, 70px);
  }
}

.container-nopadding {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    @include mixins.container-max-width(768px, 0);
  }

  @media only screen and (min-width: 1440px) {
    @include mixins.container-max-width(1440px, 0);
  }

  @media only screen and (min-width: 1920px) {
    @include mixins.container-max-width(1920px, 0);
  }
}
