@use "./variables";
@use "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-primary;
  font-weight: 500;
  background-color: variables.$primary-color;
  color: variables.$black-text-color;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

ul,
ol,
menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    @include mixins.container-max-width(768px, 32px);
  }

  @media only screen and (min-width: 1440px) {
    @include mixins.container-max-width(1440px, 60px);
  }

  @media only screen and (min-width: 1920px) {
    @include mixins.container-max-width(1920px, 74px);
  }
}
