@use "./variables";
@use "./mixins";

.faq {
  padding-bottom: 49px;

  &__title {
    @include mixins.title;
    margin-bottom: 34px;

    @media only screen and (max-width: 374.99px) {
      font-size: 58px;
      margin-bottom: 24px;
    }
  }

  &__wrapper--item {
    @include mixins.flex-between;
    padding-block: 22px;
    border-top: 1px solid #414141;
    height: 77px;

    @media only screen and (max-width: 374.99px) {
      height: 58px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    width: 252px;

    @media only screen and (max-width: 374.99px) {
      font-size: 12px;
      width: 232px;
    }
  }

  &__span {
    @include mixins.flex-center;
    border-radius: 100%;
    border: 1.27px solid #414141;
    width: 33px;
    height: 33px;

    @media only screen and (max-width: 374.99px) {
      width: 23px;
      height: 23px;
    }
  }

  &__icon {
    fill: variables.$black-text-color;
    stroke: none;

    @media only screen and (max-width: 374.99px) {
      width: 10px;
      height: 10px;
    }
  }
}
