@use "./variables";
@use "./mixins";

.faq {
  padding-bottom: 49px;

  @media only screen and (min-width: 1440px) {
    padding-bottom: 220px;
  }

  &__container {
    @media only screen and (min-width: 768px) {
      @include mixins.flex-between;
      align-items: start;
    }
  }

  &__title {
    @include mixins.title;
    margin-bottom: 34px;

    @media only screen and (max-width: 374.98px) {
      font-size: 58px;
      margin-bottom: 24px;
    }

    @media only screen and (min-width: 768px) {
      margin-bottom: 0;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 133px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 335px;

    @media only screen and (min-width: 768px) {
      width: 480px;
    }

    @media only screen and (max-width: 374.98px) {
      width: 280px;
    }

    @media only screen and (min-width: 1440px) {
      width: 920px;
    }

    @media only screen and (min-width: 1920px) {
      width: 1200px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #414141;
    padding-block: 22px;

    &:has(details[open]) {
      margin-bottom: 20px;

      div {
        margin-top: 20px;
      }

      @media only screen and (min-width: 1440px) {
        margin-block: 40px;

        div {
          margin-top: 40px;
        }
      }
    }

    @media only screen and (max-width: 374.98px) {
      padding-block: 18px;
    }

    @media only screen and (min-width: 1440px) {
      padding-block: 46px;
    }
  }

  details {
    display: block;

    &[open] {
      summary {
        color: variables.$accent-color;

        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__summary {
    @include mixins.flex-between;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    width: 100%;

    @media only screen and (max-width: 374.98px) {
      font-size: 12px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 26px;
    }
  }

  &__span {
    @include mixins.flex-center;
    border-radius: 100%;
    border: 1.27px solid #414141;
    width: 33px;
    height: 33px;
    flex-shrink: 0;

    @media only screen and (max-width: 374.98px) {
      width: 23px;
      height: 23px;
    }

    @media only screen and (min-width: 1440px) {
      width: 81px;
      height: 81px;
    }
  }

  &__icon {
    fill: variables.$black-text-color;
    stroke: none;
    transition: transform variables.$transition-delay variables.$transition-type;

    @media only screen and (max-width: 374.98px) {
      width: 10px;
      height: 10px;
    }

    @media only screen and (min-width: 1440px) {
      width: 36px;
      height: 36px;
    }
  }

  &__answer {
    font-weight: 500;
    line-height: 1.2;
    font-size: 12px;
    padding-inline: 10px;

    @media only screen and (max-width: 374.98px) {
      font-size: 10px;
      padding-inline: 8px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 22px;
      padding-inline: 20px;
    }
  }

  &__answer--main {
    font-weight: 600;
    margin-bottom: 10px;
  }
}
