@font-face {
  font-family: "Mona Sans";
  src: url("../fonts/MonaSans-Regular.woff2") format("woff2"),
    url("../fonts/MonaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src: url("../fonts/MonaSans-Medium.woff2") format("woff2"),
    url("../fonts/MonaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src: url("../fonts/MonaSans-Bold.woff2") format("woff2"),
    url("../fonts/MonaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src: url("../fonts/MonaSans-Light.woff2") format("woff2"),
    url("../fonts/MonaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Cyr";
  src: url("../fonts/DrukCyr-Bold.woff2") format("woff2"),
    url("../fonts/DrukCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Cyr";
  src: url("../fonts/DrukCyr-Heavy.woff2") format("woff2"),
    url("../fonts/DrukCyr-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
