@use "./variables";
@use "./mixins";

.gift {
  padding-bottom: 56px;

  @media only screen and (max-width: 374.98px) {
    padding-bottom: 40px;
  }

  &__wrapper {
    @media only screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: end;
      flex-direction: row-reverse;
      gap: 15px;
      padding-inline: 32px;
    }

    @media only screen and (min-width: 1440px) {
      gap: 70px;
      padding-inline: 70px;
    }

    @media only screen and (min-width: 1920px) {
      align-items: start;
      padding-inline: 70px 0;
    }
  }

  &__img {
    margin-inline: auto;
    margin-bottom: 16px;

    @media only screen and (min-width: 768px) {
      height: 320px;
      width: 367px;
      margin-bottom: 0;
    }

    @media only screen and (min-width: 1440px) {
      width: 652px;
      height: 469px;
    }

    @media only screen and (min-width: 1920px) {
      width: 1214px;
      height: 1080px;
    }
  }

  &__container {
    padding-inline: 10px;

    @media only screen and (min-width: 768px) {
      width: 322px;
      padding-inline: 0;
      margin-inline: 0;
    }

    @media only screen and (min-width: 1440px) {
      width: 566px;
    }

    @media only screen and (min-width: 1920px) {
      padding-block: 70px;
    }
  }

  &__wrapper-list {
    border-radius: 22px;
    padding: 20px;
    margin-bottom: 31px;
    background-color: variables.$white-text-color;

    @media only screen and (min-width: 768px) {
      width: 704px;
      text-align: center;
    }

    @media only screen and (min-width: 1440px) {
      width: 1289px;
      text-align: start;
      padding: 40px;
    }

    @media only screen and (min-width: 1920px) {
      width: 100%;
    }
  }

  &__list--container {
    @include mixins.flex-start;
    margin-bottom: 8px;

    &__item {
      font-weight: 600;
      font-size: 12px;
      line-height: 1.91667;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: variables.$dark-text-color;
      background-color: variables.$accent-color;
      padding: 8px 12px;
      border-radius: 100px;
    }

    @media only screen and (max-width: 374.98px) {
      &__item {
        font-size: 10px;
        padding: 6px 10px;
      }
    }

    @media only screen and (min-width: 768px) {
      justify-content: center;
    }

    @media only screen and (min-width: 1440px) {
      justify-content: start;

      &__item {
        font-size: 16px;
        padding: 10px 20px;
      }
    }
  }

  &__title {
    @include mixins.title;

    @media only screen and (max-width: 374.98px) {
      font-size: 58px;
    }

    @media only screen and (min-width: 768px) {
      font-size: 44px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 133px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-inline: 20px;

    @media only screen and (min-width: 1440px) {
      padding-left: 40px;
      gap: 20px;
    }
  }

  &__list--item {
    @include mixins.flex-start;
    gap: 16px;

    span {
      @include mixins.flex-center;
      border: 1px solid variables.$black-text-color;
      border-radius: 50%;
      width: 24px;
      height: 24px;

      font-weight: 600;
      font-size: 12px;
      line-height: 2;
      letter-spacing: -0.02em;
      text-transform: uppercase;

      @media only screen and (max-width: 374.98px) {
        font-size: 10px;
        height: 22px;
        width: 22px;
      }

      @media only screen and (min-width: 768px) {
        font-size: 10px;
      }

      @media only screen and (min-width: 1440px) {
        font-size: 20px;
        height: 44px;
        width: 44px;
      }
    }

    &__text {
      font-weight: 500;
      font-size: 15px;
      width: 240px;

      @media only screen and (max-width: 374.98px) {
        font-size: 12px;
        width: 220px;
      }

      @media only screen and (min-width: 768px) {
        width: 200px;
        font-size: 14px;
      }

      @media only screen and (min-width: 1440px) {
        font-size: 24px;
        width: 385px;
      }
    }
  }
}
