@use "./variables";
@use "./mixins";

.header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 998;
  background-color: variables.$black-text-color;

  @media only screen and (min-width: 1440px) {
    background-color: transparent;
  }

  &__container {
    @include mixins.flex-between;
    padding-block: 14px;

    @media only screen and (min-width: 1440px) {
      padding-block: 36px;
    }

    @media only screen and (min-width: 1920px) {
      padding-block: 46px;
    }
  }

  &__logo {
    fill: variables.$white-text-color;

    @media only screen and (min-width: 1440px) {
      width: 65px;
      height: 77px;
      fill: variables.$black-text-color;
    }
  }

  &__button-menu {
    display: flex;
    gap: 10px;

    background-color: transparent;
    width: auto;
    height: 24px;

    font-family: variables.$font-secondary;
    font-weight: 700;
    font-size: 26px;
    line-height: 0.915;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: variables.$white-text-color;
    transition: color variables.$transition-delay variables.$transition-type;

    svg {
      fill: variables.$accent-color;
      transition: fill variables.$transition-delay variables.$transition-type;
    }

    &:hover,
    &:focus-visible,
    &:active {
      color: variables.$accent-color;

      svg {
        fill: variables.$white-text-color;
      }
    }

    @media only screen and (min-width: 1440px) {
      gap: 18px;
      height: 43px;
      font-size: 47px;
      color: variables.$black-text-color;

      svg {
        width: 43px;
        height: 43px;
      }

      &:hover,
      &:focus-visible,
      &:active {
        color: variables.$accent-color;

        svg {
          fill: variables.$black-text-color;
        }
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  transform: scale(0);

  width: 100%;
  height: 100%;
  max-width: 1920px;
  background-color: variables.$accent-color;
  backdrop-filter: blur(10px);
  padding: 45px 20px;

  transition: transform 0.45s ease;

  @media only screen and (max-width: 374.99px) {
    padding-block: 30px;
  }

  @media only screen and (min-width: 768px) {
    padding: 30px 56px;
  }

  @media only screen and (min-width: 1440px) {
    padding: 70px 96px;
  }

  @media only screen and (min-width: 1920px) {
    padding: 76px 70px 86px 267px;
  }

  &__logo {
    display: none;

    @media only screen and (min-width: 1440px) {
      display: block;
      position: absolute;
      top: 26px;
      left: 32px;
      fill: variables.$black-text-color;
      width: 45px;
      height: 57px;
    }
  }

  @media only screen and (min-width: 1920px) {
    &__logo {
      top: 46px;
      left: 70px;
      width: 65px;
      height: 77px;
    }
  }

  &__container-text {
    @include mixins.flex-between;
    margin-bottom: 50px;

    @media only screen and (max-width: 374.99px) {
      margin-bottom: 28px;
    }

    @media only screen and (min-width: 768px) {
      margin-bottom: 28px;
    }

    @media only screen and (min-width: 1440px) {
      margin-bottom: 66px;
    }
  }

  &__text {
    @include mixins.text;
    color: variables.$white-text-color;

    @media only screen and (max-width: 374.99px) {
      font-size: 18px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 34px;
    }

    @media only screen and (min-width: 1920px) {
      font-size: 44px;
    }
  }

  &__toggle {
    @include mixins.flex-start;
    gap: 34px;

    @include mixins.text;
    color: variables.$white-text-color;
    transition: color variables.$transition-delay variables.$transition-type;

    svg {
      fill: variables.$white-text-color;
      transition: fill variables.$transition-delay variables.$transition-type;
    }

    &:hover,
    &:focus-visible,
    &:active {
      color: variables.$black-text-color;

      svg {
        fill: variables.$black-text-color;
      }
    }

    @media only screen and (max-width: 374.99px) {
      font-size: 18px;
      gap: 20px;

      svg {
        width: 18px;
        height: 18px;
      }
    }

    @media only screen and (min-width: 1440px) {
      font-size: 34px;
      gap: 19px;

      svg {
        width: 30px;
        height: 30px;
      }
    }

    @media only screen and (min-width: 1920px) {
      font-size: 44px;
      gap: 19px;

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  @media only screen and (min-width: 1440px) {
    &__wrapper-nav {
      @include mixins.flex-start;
      gap: 78px;
    }
  }

  @media only screen and (min-width: 1920px) {
    &__wrapper-nav {
      gap: 158px;
    }
  }

  &__nav {
    margin-bottom: 60px;

    @media only screen and (max-width: 374.99px) {
      margin-bottom: 40px;
    }

    @media only screen and (min-width: 768px) {
      margin-bottom: 28px;
    }

    @media only screen and (min-width: 1440px) {
      width: 552px;
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media only screen and (max-width: 374.99px) {
      gap: 9px;
    }

    @media only screen and (min-width: 1440px) {
      gap: 33px;
    }
  }

  &__item {
    text-align: center;

    @media only screen and (min-width: 1440px) {
      text-align: start;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: variables.$black-text-color;
    transition: text-decoration variables.$transition-delay
      variables.$transition-type;

    &:hover,
    &:focus-visible,
    &:active {
      text-decoration: underline;
    }

    @media only screen and (max-width: 374.99px) {
      font-size: 28px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 44px;
    }

    @media only screen and (min-width: 1920px) {
      font-size: 54px;
    }
  }

  &__legacy {
    font-family: variables.$font-secondary;
    font-weight: 700;
    font-size: 57px;
    line-height: 0.99;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;

    @media only screen and (max-width: 374.99px) {
      font-size: 44px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 178px;
      width: 683px;
      text-align: left;
      padding-top: 77px;
      margin-bottom: 88px;
    }

    @media only screen and (min-width: 1920px) {
      font-size: 198px;
    }
  }

  &__button {
    width: 293px;
    margin-bottom: 52px;
    margin-inline: auto;

    @include mixins.button(
      $btn-height-sm: 71px,
      $btn-height-lg: 121px,
      $gap-sm: 5px,
      $gap-lg: 8px,
      $text-width-sm: 218px,
      $text-width-lg: 371px,
      $text-color: variables.$black-text-color,
      $bg-color: variables.$black-text-color,
      $icon-color: variables.$white-text-color
    );

    &:hover,
    &:focus-visible,
    &:active {
      .menu__button-text {
        background-color: variables.$white-text-color;
      }

      .menu__button-span-icon svg {
        stroke: variables.$accent-color;
      }
    }

    @media only screen and (max-width: 374.99px) {
      width: 233px;
      height: 56px;
      margin-bottom: 36px;

      .menu__button-icon-border {
        width: 173px;
        height: 56px;
      }
      .menu__button-text {
        font-size: 12px;
      }
      .menu__button-span-icon {
        width: 56px;
        height: 56px;

        svg {
          width: 11px;
          height: 13px;
        }
      }
    }

    @media only screen and (min-width: 1440px) {
      width: 500px;
      margin-inline-start: 0;
      margin-bottom: 59px;
    }
  }

  @media only screen and (min-width: 1440px) {
    &__wrapper-copyright {
      @include mixins.flex-start;
      gap: 57px;
    }
  }

  @media only screen and (min-width: 1920px) {
    &__wrapper-copyright {
      @include mixins.flex-start;
      gap: 107px;
    }
  }

  &__link--mail {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: variables.$white-text-color;
    margin-bottom: 12px;
    width: 100%;

    @media only screen and (max-width: 374.99px) {
      font-size: 20px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 34px;
      text-align: left;
      margin-bottom: 0;
    }

    @media only screen and (min-width: 1920px) {
      font-size: 44px;
    }
  }

  &__copyright {
    @include mixins.copyright($margin-bt: 12px, $text-al: center);

    @media only screen and (max-width: 374.99px) {
      font-size: 12px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 16px;
      text-align: end;
      width: 180px;
    }
  }
}

.is-open {
  transform: scale(1);
}
