@use "./variables";
@use "./mixins";

.package {
  padding-bottom: 56px;

  @media only screen and (min-width: 1440px) {
    padding-bottom: 220px;
  }

  &__title {
    @include mixins.title;
    text-align: center;
    padding-top: 73px;
    margin-bottom: 62px;

    @media only screen and (max-width: 374.98px) {
      font-size: 58px;
      padding-top: 40px;
      margin-bottom: 42px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 133px;
      padding-top: 220px;
      margin-bottom: 83px;
    }
  }

  &__card--list {
    display: flex;
    flex-direction: column;
    gap: 22px;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      gap: 14px;
    }

    @media only screen and (min-width: 1440px) {
      gap: 30px;
    }

    @media only screen and (min-width: 1920px) {
      gap: 53px;
    }
  }

  &__card {
    position: relative;
    border: 0.6px solid rgba(0, 0, 0, 0.22);
    padding: 42px 17px 36px;

    &__bg--white {
      background-color: variables.$white-text-color;
    }

    &__bg--accent {
      background-color: variables.$accent-color;
    }

    &__bg--black {
      background-color: variables.$black-text-color;
    }

    @media only screen and (min-width: 768px) {
      width: 225px;
      padding-inline: 6px;
    }

    @media only screen and (min-width: 1440px) {
      width: 420px;
      padding-inline: 20px;
    }

    @media only screen and (min-width: 1920px) {
      width: 557px;
      padding: 71px 46px 59px;
    }
  }

  &__wrapper {
    padding-inline: 10px;

    @media only screen and (min-width: 768px) {
      padding-inline: 5px;
    }
  }

  &__wrapper--icon {
    position: absolute;
    top: 35px;
    right: 36px;
    fill: variables.$accent-color;

    @media only screen and (max-width: 374.98px) {
      height: 48px;
      width: 48px;
    }

    @media only screen and (min-width: 768px) {
      top: 10px;
      right: 8px;
      height: 42px;
      width: 42px;
    }

    @media only screen and (min-width: 1440px) {
      top: 14px;
      right: 10px;
      height: 84px;
      width: 84px;
    }

    @media only screen and (min-width: 1920px) {
      top: 58px;
      right: 59px;
    }
  }

  &__fill--accent {
    fill: variables.$accent-color;
  }

  &__fill--black {
    fill: variables.$black-text-color;
  }

  &__fill--white {
    fill: variables.$white-text-color;
  }

  &__text-color {
    color: variables.$white-text-color;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    margin-bottom: 37px;

    @media only screen and (max-width: 374.98px) {
      font-size: 28px;
      margin-bottom: 24px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 55px;
      margin-bottom: 61px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 27px;

    @media only screen and (max-width: 374.98px) {
      gap: 18px;
    }

    @media only screen and (min-width: 1440px) {
      gap: 44px;
      margin-bottom: 49px;
    }
  }

  &__item--container {
    @include mixins.flex-start;
    gap: 7px;
    margin-bottom: 9px;

    @media only screen and (min-width: 768px) {
      width: 190px;

      svg {
        flex-shrink: 0;
      }
    }

    @media only screen and (min-width: 1440px) {
      width: 360px;
      gap: 16px;
      margin-bottom: 9px;

      svg {
        width: 18px;
        height: 18px;
      }
    }

    @media only screen and (min-width: 1920px) {
      width: 455px;
    }
  }

  &__item--opacity {
    opacity: 0.22;
  }

  &__icon {
    fill: variables.$black-text-color;
  }

  &__icon--white {
    fill: variables.$white-text-color;
  }

  &__stroke--black {
    stroke: variables.$black-text-color;
  }

  &__stroke--white {
    stroke: variables.$white-text-color;
  }

  &__item--title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.02em;

    @media only screen and (max-width: 374.98px) {
      font-size: 12px;
    }

    @media only screen and (min-width: 1440px) {
      width: 395px;
      font-size: 24px;
    }
  }

  &__item--text {
    font-weight: 400;
    font-size: 12px;
    opacity: 0.66;

    @media only screen and (max-width: 374.98px) {
      font-size: 10px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 20px;
    }
  }

  &__price {
    font-family: variables.$font-alt;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 12px;

    @media only screen and (max-width: 374.98px) {
      font-size: 38px;
      margin-bottom: 10px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 86px;
      margin-bottom: 2px;
    }
  }

  &__price--old {
    font-family: variables.$font-alt;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-decoration: line-through;
    opacity: 0.33;
    text-align: center;
    margin-bottom: 37px;

    @media only screen and (max-width: 374.98px) {
      font-size: 20px;
      margin-bottom: 28px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 43px;
      margin-bottom: 53px;
    }
  }

  &__span--container {
    @include mixins.flex-between;

    font-weight: 300;
    font-size: 10px;
    line-height: 1.3;
    letter-spacing: -0.03em;

    @media only screen and (max-width: 374.98px) {
      font-size: 8px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 17px;
    }
  }

  &__btn--list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    margin-bottom: 25px;

    @media only screen and (min-width: 1440px) {
      margin-bottom: 42px;
    }
  }

  &__button {
    @include mixins.button(
      $btn-height-sm: 73px,
      $btn-height-lg: 121px,
      $gap-sm: 5px,
      $gap-lg: 8px,
      $text-width-sm: 223px,
      $text-width-lg: 371px,
      $text-color: variables.$black-text-color,
      $bg-color: variables.$accent-color,
      $icon-color: variables.$white-text-color
    );

    &:hover,
    &:focus-visible,
    &:active {
      .package__button-text {
        background-color: variables.$accent-color;
      }

      .package__button-span-icon svg {
        stroke: variables.$black-text-color;
      }
    }

    @media only screen and (max-width: 374.98px) {
      width: 233px;
      height: 56px;

      .package__button-icon-border {
        width: 173px;
        height: 56px;
      }
      .package__button-text {
        font-size: 12px;
      }
      .package__button-span-icon {
        width: 56px;
        height: 56px;

        svg {
          width: 11px;
          height: 13px;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      width: 210px;
      height: 50px;
      .package__button-icon-border {
        width: 160px;
        height: 50px;
      }
      .package__button-text {
        font-size: 10px;
        text-align: center;
        width: 160px;
      }
      .package__button-span-icon {
        width: 50px;
        height: 50px;

        svg {
          width: 8px;
          height: 10px;
        }
      }
    }

    @media only screen and (min-width: 1440px) {
      width: 340px;
      height: 82px;

      .package__button-icon-border {
        width: 250px;
        height: 82px;
      }
      .package__button-text {
        font-size: 18px;
        text-align: center;
        width: 250px;
      }
      .package__button-span-icon {
        width: 82px;
        height: 82px;

        svg {
          width: 16px;
          height: 20px;
        }
      }
    }

    @media only screen and (min-width: 1920px) {
      width: 500px;
      height: 121px;

      .package__button-icon-border {
        width: 371px;
        height: 121px;
      }
      .package__button-text {
        font-size: 26px;
        width: 371px;
      }
      .package__button-span-icon {
        width: 121px;
        height: 121px;

        svg {
          width: 21px;
          height: 24px;
        }
      }
    }
  }

  &__button--hyper {
    @include mixins.button(
      $btn-height-sm: 73px,
      $btn-height-lg: 121px,
      $gap-sm: 5px,
      $gap-lg: 8px,
      $text-width-sm: 223px,
      $text-width-lg: 371px,
      $text-color: variables.$black-text-color,
      $bg-color: variables.$black-text-color,
      $icon-color: variables.$white-text-color
    );

    &:hover,
    &:focus-visible,
    &:active {
      .package__button--hyper-text {
        background-color: variables.$white-text-color;
      }

      .package__button--hyper-span-icon svg {
        stroke: variables.$accent-color;
      }
    }

    @media only screen and (max-width: 374.98px) {
      width: 233px;
      height: 56px;
      .package__button--hyper-icon-border {
        width: 173px;
        height: 56px;
      }
      .package__button--hyper-text {
        font-size: 12px;
      }
      .package__button--hyper-span-icon {
        width: 56px;
        height: 56px;

        svg {
          width: 11px;
          height: 13px;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      width: 210px;
      height: 50px;
      .package__button--hyper-icon-border {
        width: 160px;
        height: 50px;
      }
      .package__button--hyper-text {
        font-size: 10px;
        text-align: center;
        width: 160px;
      }
      .package__button--hyper-span-icon {
        width: 50px;
        height: 50px;

        svg {
          width: 8px;
          height: 10px;
        }
      }
    }

    @media only screen and (min-width: 1440px) {
      width: 340px;
      height: 82px;

      .package__button--hyper-icon-border {
        width: 250px;
        height: 82px;
      }
      .package__button--hyper-text {
        font-size: 18px;
        text-align: center;
        width: 250px;
      }
      .package__button--hyper-span-icon {
        width: 82px;
        height: 82px;

        svg {
          width: 16px;
          height: 20px;
        }
      }
    }

    @media only screen and (min-width: 1920px) {
      width: 500px;
      height: 121px;

      .package__button--hyper-icon-border {
        width: 371px;
        height: 121px;
      }
      .package__button--hyper-text {
        font-size: 26px;
        width: 371px;
      }
      .package__button--hyper-span-icon {
        width: 121px;
        height: 121px;

        svg {
          width: 21px;
          height: 24px;
        }
      }
    }
  }

  &__button--blast {
    @include mixins.button(
      $btn-height-sm: 73px,
      $btn-height-lg: 121px,
      $gap-sm: 5px,
      $gap-lg: 8px,
      $text-width-sm: 223px,
      $text-width-lg: 371px,
      $text-color: variables.$black-text-color,
      $bg-text: variables.$white-text-color,
      $bg-color: variables.$accent-color,

      $icon-color: variables.$white-text-color
    );

    &:hover,
    &:focus-visible,
    &:active {
      .package__button--blast-text {
        background-color: variables.$accent-dark-color;
        color: variables.$white-text-color;
      }

      .package__button--blast-span-icon svg {
        stroke: variables.$black-text-color;
      }
    }

    @media only screen and (max-width: 374.98px) {
      width: 233px;
      height: 56px;
      .package__button--blast-icon-border {
        width: 173px;
        height: 56px;
      }
      .package__button--blast-text {
        font-size: 12px;
      }
      .package__button--blast-span-icon {
        width: 56px;
        height: 56px;

        svg {
          width: 11px;
          height: 13px;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      width: 210px;
      height: 50px;
      .package__button--blast-icon-border {
        width: 160px;
        height: 50px;
      }
      .package__button--blast-text {
        font-size: 10px;
        text-align: center;
        width: 160px;
      }
      .package__button--blast-span-icon {
        width: 50px;
        height: 50px;

        svg {
          width: 8px;
          height: 10px;
        }
      }
    }

    @media only screen and (min-width: 1440px) {
      width: 340px;
      height: 82px;

      .package__button--blast-icon-border {
        width: 250px;
        height: 82px;
      }
      .package__button--blast-text {
        font-size: 18px;
        text-align: center;
        width: 250px;
      }
      .package__button--blast-span-icon {
        width: 82px;
        height: 82px;

        svg {
          width: 16px;
          height: 20px;
        }
      }
    }

    @media only screen and (min-width: 1920px) {
      width: 500px;
      height: 121px;

      .package__button--blast-icon-border {
        width: 371px;
        height: 121px;
      }
      .package__button--blast-text {
        font-size: 26px;
        width: 371px;
      }
      .package__button--blast-span-icon {
        width: 121px;
        height: 121px;

        svg {
          width: 21px;
          height: 24px;
        }
      }
    }
  }
}
