$font-primary: "Mona Sans", sans-serif;
$font-secondary: "Druk Cyr", serif;
$font-alt: "Inter", sans-serif;

$primary-color: #f9f9f9;
$secondary-color: #666;
$accent-color: #00d0d2;
$white-text-color: #fff;
$black-text-color: #000;
$opacity-text-color: rgba(0, 0, 0, 0.33);
$dark-text-color: #1e1e1e;

$transition-delay: 0.3s;
$transition-type: ease;
