$font-primary: "Mona Sans", sans-serif;
$font-secondary: "Druk Cyr", serif;
$font-alt: "Inter", sans-serif;

$primary-color: #f9f9f9;
$secondary-color: #666;
$accent-color: #00d0d2;
$white-text-color: #fff;
$black-text-color: #000;
